include ../../mixins/product
-
	const products = [
		{
			label: 'ÉXITO',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				}
			],
			text: '305 reseñas',
			desc: 'El complejo de vitaminas y extractos para la activación del metabolismo y la pérdida de peso',
			link: 'lipocarnit.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/oculax.png',
			name: 'Oculax',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-empty-1.svg',
					type: 'empty-1'
				}
			],
			text: '241 reseñas',
			desc: 'El complejo de vitaminas y minerales para recuperar la agudeza visual y prevenir la pérdida de visión',
			link: 'oculax.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/wortex.png',
			name: 'Wortex',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				}
			],
			text: '368 reseñas',
			desc: 'Las cápsulas para la limpieza segura del cuerpo de parásitos y la recuperación de las funciones del sistema digestivo',
			link: 'wortex.html'
		},
	];

section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") INICIO
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Catálogo
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=beauty") Para la belleza
			span.breadcrumbs__line /
			span.breadcrumbs__main Biorecin
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item.slider-prod__nav-item--main-photo
						img(src="img/biorecin.png", alt="Biorecin")
					.slider-prod__nav-item
						img(src="img/biorecin_1.jpg", alt="Biorecin")
					.slider-prod__nav-item
						img(src="img/biorecin_2.jpg", alt="Biorecin")
					.slider-prod__nav-item
						img(src="img/biorecin_3.jpg", alt="Biorecin")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item.slider-prod__for-item--main-photo
						img(src="img/biorecin.png", alt="Biorecin")
					.slider-prod__for-item
						img(src="img/biorecin_1.jpg", alt="Biorecin")
					.slider-prod__for-item
						img(src="img/biorecin_2.jpg", alt="Biorecin")
					.slider-prod__for-item
						.youtube(data-embed="UQgyt_X8DvM")
							.play
			.product-item__info
				h2.product-item__name Biorecin
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
					p.product-item__rating-text 380 reseñas
				ul.product-item__list.product-list
					li.product-list__item Esfera: Rejuvenecimiento
					li.product-list__item Forma: Cápsulas
					li.product-list__item Volumen: 21 pzs.
				a.product-item__btn.button(href="order.html?id=biorecin") Pedir
				p.product-item__text Las cápsulas antienvejecimiento para nutrir y regenerar las células de la piel
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Descripción
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Las cápsulas para el rejuvenecimiento de la piel contienen ingredientes herbales y vitaminas que ayudan a mejorar la nutrición y la regeneración de las células de la piel. Ayudan a regenerar las fibras de colágeno y elastina, tienen un efecto beneficioso sobre la firmeza y el tono del rostro.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Composición
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Colágeno, biotina, vitamina E, rosa mosqueta.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Uso
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Se recomienda tomar 3 cápsulas con el desayuno. Ingesta máxima diaria: 1 porción (no más de 3 cápsulas al día).
							br
							| Limitaciones: niños menores de 8 años.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Información adicional
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item Fabricante:  Laboratorio Internacional Pharmacorp SBO S.A. Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								//- li.product-list__item Дата регистрации: 10.04.2020
								//- li.product-list__item.mb Номер сертификата ЕАС: ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb Fecha de caducidad: 18 meses
								li.product-list__item Condiciones de almacenamiento: almacenar en un lugar fresco (≤25°C) y seco (≤60% HR) con la tapa puesta.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Reseñas
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Ximena Martí, 43&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_biorecin_1.png", alt="")
								p.review-small__text Me recomendaron usar la crema Biorecin en un salón de belleza. ¡El efecto es maravilloso! Mi piel está limpia, tonificada y no seca. Alisó mis arrugas, eliminó las bolsas bajo los ojos e incluso alisó mi piel. ¡La recomiendo!
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Alexia Hurtado, 50&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_biorecin_2.png", alt="")
								p.review-small__text Llevo tres meses usando la crema Biorecin todos los días. Mi piel ha mejorado, los poros están limpios, las pequeñas irritaciones han desaparecido y los puntos negros son mucho menores. No puedo estar más feliz.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Melina Saavedra, 37&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_biorecin_3.png", alt="")
								p.review-small__text Esta es una gran crema con un olor divino) Por lo general, los productos de base natural no huelen muy bien, pero este es increíble. Funciona al 100% y está muy bien de precio.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Nazarena Bienvenida, 49&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_biorecin_4.png", alt="")
								p.review-small__text A mí personalmente me conquistó la composición, los extractos naturales inspiran confianza. Me sorprendió gratamente el efecto: las arrugas se hicieron más pequeñas, mi cutis se igualó, la hinchazón desapareció. ¡Sin duda lo recomiendo!
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Yvonne Molina, 46&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_biorecin_5.png", alt="")
								p.review-small__text Trabajo en un salón de belleza y a menudo recomiendo la crema Biorecin a los clientes. Tiene ingredientes activos seleccionados por profesionales que pueden regenerar las células de la piel y restaurar el contorno facial. Yo misma la uso y estoy muy contenta con el resultado.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Marta Elvira, 38&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_biorecin_6.png", alt="")
								p.review-small__text Me sorprende que una crema con tal espectro de acción sea tan barata. Su eficacia no es inferior a la de las costosas cremas profesionales. La he comprobado personalmente.

					.specification.specification--recomm
						.specification__top
							h3.specification__ttl Compran con este producto
						.specification__text
							.specification__products
								each product in products
									+product(product)