section.about-main
	.container
		img.about-main__logo(src="img/svg/logo_big.svg", alt="")
		p.about-main__desc натуральная продукция для красоты и здоровья, сочетающая в себе силу природных компонентов и передовые научные достижения.
		.about-main__list
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_1.svg' alt='')
				p.about-item__text Разрабатываем рецептуру
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_2.svg' alt='')
				p.about-item__text Подбираем натуральные ингредиенты
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_3.svg' alt='')
				p.about-item__text Проводим клинические исследования
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_4.svg' alt='')
				p.about-item__text Подтверждаем эффективность товаров
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_5.svg' alt='')
				p.about-item__text Сертифицируем товары
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_6.svg' alt='')
				p.about-item__text Реализуем товары онлайн