section.about-main
	.container
		img.about-main__logo(src="img/svg/logo_big.svg", alt="")
		p.about-main__desc es un producto de salud y belleza natural que combina el poder de los ingredientes naturales con la ciencia de vanguardia.
		.about-main__list
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_1.svg' alt='')
				p.about-item__text Elaboramos la receta
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_2.svg' alt='')
				p.about-item__text Seleccionamos ingredientes naturales
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_3.svg' alt='')
				p.about-item__text Realizamos ensayos clínicos
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_4.svg' alt='')
				p.about-item__text Comprobamos la eficacia de nuestros productos
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_5.svg' alt='')
				p.about-item__text Certificamos los productos
			.about-item
				.about-item__photo-wrap
					img.about-item__photo(src='img/svg/icon_6.svg' alt='')
				p.about-item__text Vendemos productos en línea