section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Здоровье
			span.breadcrumbs__line /
			span.breadcrumbs__main Otovix
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/otovix.png", alt="Otovix")
					.slider-prod__nav-item
						img(src="img/otovix.png", alt="Otovix")
					.slider-prod__nav-item
						img(src="img/otovix.png", alt="Otovix")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/otovix.png", alt="Otovix")
					.slider-prod__for-item
						img(src="img/otovix.png", alt="Otovix")
					.slider-prod__for-item
						img(src="img/otovix.png", alt="Otovix")
			.product-item__info
				h2.product-item__name Otovix
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-3.svg", alt="")
					p.product-item__rating-text 205 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Слух
					li.product-list__item
						span Форм-фактор: 
						| Капсулы
					li.product-list__item
						span Форма выпуска:
						| Банка, капсулы, 21 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Комплекс для улучшения функций слуха со сбалансированной формулой витаминов и минералов
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Комплекс компонентов и витаминов направлен на улучшение функций слуха, обеспечивает восполнение микроэлементов и благоприятно влияет на возрастные изменения. Комплекс компонентов и витаминов направлен на улучшение функций слуха, обеспечивает восполнение микроэлементов и благоприятно влияет на возрастные изменения
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Аскорбиновая кислота (вит. C), цитрат магния, желатин (из капсулы), бета-каротин, dl-альфа-токоферол (вит. E), кукурузный мальтодекстрин, моногидрат сульфата цинка, стеарат магния, аморфный диоксид кремния, моногидрат ацетата ретинола (Вит. А), фолиевая кислота (Вит. В9)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon 3 капсулы во время завтрака. Нельзя превышать дозу (3 капсулы)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Противопоказания
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Индивидуальная непереносимость компонентов. Не употреблять в период беременности и грудного вскармливания
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Laboratorio Intl. Pharmacorp SBO S.A.
									| Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana - Chile
								//li.product-list__item
								//	span Дата регистрации:
								//	| 10.02.2020
								//li.product-list__item.mb
								//	span Декларация о соответствии ЕАС:
								//	br
								//	| EAЭС N RU Д-RU.ПХ01.В.03234/20
								li.product-list__item.mb
									span Срок годности: 
									| 18 месяцев
								li.product-list__item
									span Условия хранения: 
									| Хранить в сухом, недоступном для детей месте, при температуре не выше +25°С и  относительной влажности 60%