include ../../mixins/product
-
	const products = [
		{
			label: 'ÉXITO',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				}
			],
			text: '305 reseñas',
			desc: 'El complejo de vitaminas y extractos para la activación del metabolismo y la pérdida de peso',
			link: 'lipocarnit.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/oсulax.png',
			name: 'Oculax',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-empty-1.svg',
					type: 'empty-1'
				}
			],
			text: '241 reseñas',
			desc: 'El complejo de vitaminas y minerales para recuperar la agudeza visual y prevenir la pérdida de visión',
			link: 'oculax.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/normaten.png',
			name: 'Normaten',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '270 reseñas',
			desc: 'El remedio para la normalización de la presión arterial y el apoyo al sistema cardiovascular',
			link: 'normaten.html'
		},
	];

section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") INICIO
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Catálogo
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Para la salud
			span.breadcrumbs__line /
			span.breadcrumbs__main Otovix
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item.slider-prod__nav-item--main-photo
						img(src="img/otovix.png", alt="Otovix")
					.slider-prod__nav-item
						img(src="img/otovix_1.jpg", alt="Otovix")
					.slider-prod__nav-item
						img(src="img/otovix_2.jpg", alt="Otovix")
					.slider-prod__nav-item
						img(src="img/otovix_3.jpg", alt="Otovix")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item.slider-prod__for-item--main-photo
						img(src="img/otovix.png", alt="Otovix")
					.slider-prod__for-item
						img(src="img/otovix_1.jpg", alt="Otovix")
					.slider-prod__for-item
						img(src="img/otovix_2.jpg", alt="Otovix")
					.slider-prod__for-item
						.youtube(data-embed="6YsmwTnWUDg")
							.play
			.product-item__info
				h2.product-item__name Otovix
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-1.svg", alt="")
					p.product-item__rating-text 390 reseñas
				ul.product-item__list.product-list
					li.product-list__item
					li.product-list__item Esfera: Audición
					li.product-list__item Forma: Cápsulas
					li.product-list__item Volumen: 21 pzs.
				a.product-item__btn.button(href="order.html?id=otovix") Pedir
				p.product-item__text El complejo para mejorar las funciones auditivas con una fórmula equilibrada de vitaminas y minerales
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Descripción
							i.fico.fico-cross
						p.specification__text.js-info-accordeon El complejo de ingredientes y vitaminas tiene como objetivo mejorar las funciones auditivas, proporcionar una reposición de micronutrientes y tener un efecto beneficioso sobre los cambios relacionados con la edad.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Composición
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Ácido ascórbico (vitamina C), citrato de magnesio, gelatina (de la cápsula), betacaroteno, dl-alfa-tocoferol (vitamina E), maltodextrina de maíz, sulfato de zinc monohidratado, estearato de magnesio, dióxido de silicio amorfo, acetato de retinol monohidratado (vitamina A), ácido fólico (vitamina B9).
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Uso
							i.fico.fico-cross
						p.specification__text.js-info-accordeon 3 cápsulas con el desayuno. No debe superarse la dosis (3 cápsulas).
							br
							| Limitaciones: niños menores de 8 años.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Información adicional
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item Fabricante: Laboratorio Internacional Pharmacorp SBO S.A. Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								//- li.product-list__item Дата регистрации: 10.04.2020
								//- li.product-list__item.mb Номер сертификата ЕАС: ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb Fecha de caducidad: 18 meses
								li.product-list__item Condiciones de almacenamiento: almacenar en un lugar seco y fuera del alcance de los niños, a una temperatura no superior a +25°C y una humedad relativa del 60%
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Reseñas
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Eva Sáenz, 43&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_otovix_1.png", alt="")
								p.review-small__text Tomé Otovix durante 2 semanas y la audición ha mejorado mucho. Se acabaron los acúfenos e incluso los dolores de cabeza. Estoy muy contenta con este producto, posee todos los efectos que dice tener.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Luisa Arrabal, 55&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-empty-1.svg", alt="")
									img.review-small__photo(src="img/review_otovix_2.png", alt="")
								p.review-small__text Una amiga me aconsejó estas cápsulas y tomé dos cursos, el primero durante un mes y el siguiente un mes después. Mi audición se ha recuperado en un 80%. Otovix es muy eficaz, ahora lo recomiendo a los demás.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Laura Montenegro, 47&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_otovix_4.png", alt="")
								p.review-small__text Tengo este problema desde que tengo 40 años, después de que tuve un accidente y el tímpano fue dañado. No soy vieja, pero era embarazoso tener que preguntar a la gente tres veces: "¿Qué has dicho?". Otovix me ayudó después del primer curso, podía oír mucho mejor, el zumbido en los oídos desapareció.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Ximena Alarcón, 63&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_otovix_5.png", alt="")
								p.review-small__text Me diagnosticaron una pérdida auditiva neurosensorial y me recetaron muchos remedios diferentes. Tomé todo lo que se me recetó, pero no noté ninguna mejora significativa. Entonces encontré por casualidad en Internet reseñas sobre Otovix y decidí probarlo. Como resultado, se redujeron los síntomas y mejoró la audición de forma constante. ¡Estoy muy contenta!
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Carmelo Molina, 45&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_otovix_11.png", alt="")
								p.review-small__text Pedí Otovix para mi madre, llegó rápidamente, fue muy bueno, mi madre oye mucho mejor.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Lucho Carita, 62&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-empty-1.svg", alt="")
									img.review-small__photo(src="img/review_otovix_12.png", alt="")
								p.review-small__text Tomé esta cápsula por la mañana: 3 cápsulas con el desayuno. Al principio no vi muchos cambios, pero después de un curso, pude oír mejor y el acúfeno desapareció.
					.specification.specification--recomm
						.specification__top
							h3.specification__ttl Compran con este producto
						.specification__text
							.specification__products
								each product in products
									+product(product)