include ../../mixins/product
-
	const products = [
		{
			label: 'ÉXITO',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 reseñas',
			desc: 'El complejo de vitaminas y extractos para la activación del metabolismo y la pérdida de peso',
			link: 'lipocarnit.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/oсulax.png',
			name: 'Oсulax',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 reseñas',
			desc: 'El complejo de vitaminas y minerales para recuperar la agudeza visual y prevenir la pérdida de visión',
			link: 'oculax.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/normaten.png',
			name: 'Normaten',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 reseñas',
			desc: 'El remedio para la normalización de la presión arterial y el apoyo al sistema cardiovascular',
			link: 'normaten.html'
		},
	];

section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") INICIO
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Catálogo
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Para la salud
			span.breadcrumbs__line /
			span.breadcrumbs__main Otovix
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item.slider-prod__nav-item--main-photo
						img(src="img/otovix.png", alt="Otovix")
					.slider-prod__nav-item
						img(src="img/otovix_1.jpg", alt="Otovix")
					.slider-prod__nav-item
						img(src="img/otovix_2.jpg", alt="Otovix")
					.slider-prod__nav-item
						img(src="img/otovix_3.jpg", alt="Otovix")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item.slider-prod__for-item--main-photo
						img(src="img/otovix.png", alt="Otovix")
					.slider-prod__for-item
						img(src="img/otovix_1.jpg", alt="Otovix")
					.slider-prod__for-item
						img(src="img/otovix_2.jpg", alt="Otovix")
					.slider-prod__for-item
						.youtube(data-embed="6YsmwTnWUDg")
							.play
			.product-item__info
				h2.product-item__name Otovix
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-black.svg", alt="")
					p.product-item__rating-text 205 reseñas
				ul.product-item__list.product-list
					li.product-list__item
					li.product-list__item Esfera: Audición
					li.product-list__item Forma: Cápsulas
					li.product-list__item Volumen: 21 pzs.
				a.product-item__btn.button(href="order.html?id=otovix") Pedir
				p.product-item__text El complejo para mejorar las funciones auditivas con una fórmula equilibrada de vitaminas y minerales
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Descripción
							i.fico.fico-cross
						p.specification__text.js-info-accordeon El complejo de ingredientes y vitaminas tiene como objetivo mejorar las funciones auditivas, proporcionar una reposición de micronutrientes y tener un efecto beneficioso sobre los cambios relacionados con la edad.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Composición
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Ácido ascórbico (vitamina C), citrato de magnesio, gelatina (de la cápsula), betacaroteno, dl-alfa-tocoferol (vitamina E), maltodextrina de maíz, sulfato de zinc monohidratado, estearato de magnesio, dióxido de silicio amorfo, acetato de retinol monohidratado (vitamina A), ácido fólico (vitamina B9).
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Uso
							i.fico.fico-cross
						p.specification__text.js-info-accordeon 3 cápsulas con el desayuno. No debe superarse la dosis (3 cápsulas).
							br
							| Limitaciones: niños menores de 8 años.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Información adicional
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item Fabricante: Laboratorio Internacional Pharmacorp SBO S.A. Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								//- li.product-list__item Дата регистрации: 10.04.2020
								//- li.product-list__item.mb Номер сертификата ЕАС: ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb Fecha de caducidad: 18 meses
								li.product-list__item Condiciones de almacenamiento: almacenar en un lugar seco y fuera del alcance de los niños, a una temperatura no superior a +25°C y una humedad relativa del 60%
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Reseñas
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Ермоленко Влада
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-black.svg", alt="")
											p.review-small__rating-text Отличное качество!
									img.review-small__photo(src="img/review_argosev_bio_1.png", alt="")
								p.review-small__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dignissimos distinctio dolores eum impedit laudantium nam officia quaerat quam quasi quod recusandae similique sunt temporibus vel. Molestiae quidem totam ullam?
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Ермоленко Влада
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-black.svg", alt="")
											p.review-small__rating-text Отличное качество!
									img.review-small__photo(src="img/review_argosev_bio_1.png", alt="")
								p.review-small__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dignissimos distinctio dolores eum impedit laudantium nam officia quaerat quam quasi quod recusandae similique sunt temporibus vel. Molestiae quidem totam ullam?
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Ермоленко Влада
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
											p.review-small__rating-text Отличное качество!
									img.review-small__photo(src="img/review_argosev_bio_1.png", alt="")
								p.review-small__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dignissimos distinctio dolores eum impedit laudantium nam officia quaerat quam quasi quod recusandae similique sunt temporibus vel. Molestiae quidem totam ullam?
					.specification.specification--recomm
						.specification__top
							h3.specification__ttl Compran con este producto
						.specification__text
							.specification__products
								each product in products
									+product(product)