.reviews
	padding-top: 100px
	padding-bottom: 42px
	+r(1249)
		padding-top: 50px
	+r(767)
		padding-top: 40px
	+r(639)
		padding-bottom: 30px
	+r(479)
		padding-bottom: 40px
		padding-top: 0
	&__title
		margin-bottom: 32px
		+r(479)
			margin-bottom: 20px
	&__slider
		position: relative
		overflow: hidden
		padding-bottom: 15px
	&__scrollbar
		left: 50%
		transform: translateX(-50%)
		position: relative
		z-index: 10
	&__list
		margin-bottom: 54px
		+r(767)
			margin-bottom: 30px
	.swiper-slide
		+r(639)
			opacity: 0
			&.swiper-slide-active
				opacity: 1
				transition: all .3s
				

.reviews-list
	max-width: 362px
	width: 100%
	+nlt
		margin-right: 12px
	+r(1249)
		max-width: calc(100%/3 - 10px)
	+r(1023)
		max-width: calc(100%/2 - 10px)
	+r(639)
		max-width: 100%
		+nlt
			margin-right: 0



.review
	width: 100%
	border: 1px solid #EA5297
	padding: 20px 15px
	min-height: 370px
	+nlt
		margin-bottom: 12px
	+r(1249)
		min-height: 400px
	+r(1023)
		padding: 15px
		min-height: 350px
	+r(767)
		padding: 15px 10px
		min-height: 355px
	+r(639)
		min-height: auto
	+r(479)
		padding: 10px
	&__top
		display: flex
		align-items: center
		margin-bottom: 18px
		color: #020051
		+r(767)
			margin-bottom: 15px
		+r(639)
			margin-bottom: 10px
	&__photo
		margin-right: 20px
		flex-shrink: 0
		z-index: 1
		width: 60px
		+r(1023)
			margin-right: 15px
		+r(639)
			margin-right: 10px
	&__name
		font-size: 22px
		line-height: 22px
		text-transform: uppercase
		margin-bottom: 4px
		+r(1023)
			font-size: 20px
		+r(767)
			font-size: 18px
	&__desc
		font-size: 18px
		line-height: 20px
		color: #020051
		span
			color: #EA5297
		+r(1023)
			font-size: 16px
			line-height: 18px
	&__text
		font-size: 18px
		line-height: 20px
		color: #020051
		+r(1023)
			font-size: 16px
			line-height: 18px