include ../mixins/product

-
	const productsForMan = [
		{
			label: 'ХИТ',
			srcPhoto: 'img/urotrin.png',
			name: 'UROTRIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы с натуральным конопляным маслом, для поддержания иммунной, сердечно сосудистой, опорно-костной, мочеполовой и  эндокринной систем',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/hondrexil.png',
			name: 'HONDREXIL',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы для устранения разных типов боли и воспалений в суставах',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/biorecin.png',
			name: 'BIORECIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Омолаживающие капсулы для питания и регенерации клеток кожи',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Комплекс витаминов и экстрактов для активизации обменных процессов и снижения веса',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/urotrin.png',
			name: 'UROTRIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы с натуральным конопляным маслом, для поддержания иммунной, сердечно сосудистой, опорно-костной, мочеполовой и  эндокринной систем',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/hondrexil.png',
			name: 'HONDREXIL',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы для устранения разных типов боли и воспалений в суставах',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/biorecin.png',
			name: 'BIORECIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Омолаживающие капсулы для питания и регенерации клеток кожи',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Комплекс витаминов и экстрактов для активизации обменных процессов и снижения веса',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Комплекс витаминов и экстрактов для активизации обменных процессов и снижения веса',
			link: '#'
		},
	];


section.catalog-main
	.container
		.catalog-main__content
			.catalog-main__left
				p.category-item#beauty.js-tab.active Для КРАСОТЫ
				p.category-item#health.js-tab Для ЗДОРОВЬЯ
			.catalog-main__right
				.catalog-main__list.js-list-prod.active(data-target="beauty")
					.catalog-main__wrap.catalog-main__wrap--show.js-catalog-show
						each product in productsForMan
							+product(product)
					p.catalog-main__count.js-catalog-count
						span.js-product-show 0
						|  из  
						span.js-product-all 0
					button.catalog-main__btn.btn.js-btn-catalog Показать больше
				.catalog-main__list.js-list-prod(data-target="health")
					.catalog-main__wrap.catalog-main__wrap--show.js-catalog-show
						each product in productsForMan
							+product(product)
					.catalog-main__wrap.catalog-main__wrap--hide.js-catalog-hide
						each product in productsForMan
							+product(product)
					p.catalog-main__count.js-catalog-count
						span.js-product-show 0
						|  из  
						span.js-product-all 0
					button.catalog-main__btn.btn.js-btn-catalog Показать больше