footer.footer
	.container
		.footer__wrapper
			a.footer__logo(href="/")
				img(src="img/svg/logo-w.svg", alt="")
			.footer__right
				ul.footer__menu.menu-f
					li.menu-f__item.footer__item
						a.menu-f__link(href="catalog.html") Catálogo
					li.menu-f__item.footer__item
						a.menu-f__link(href="about.html") Sobre nosotros
					li.menu-f__item.footer__item
						a.menu-f__link(href="contacts.html") Contactos
					li.menu-f__item.footer__item
						a.menu-f__link(href="#") Reseñas
				a.footer__link(href="mailto:info@vitaliss.group") info@vitaliss.group
