include mixins/product

-
	const hits = [
		{
			label: 'ХИТ',
			srcPhoto: 'img/urotrin.png',
			name: 'UROTRIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы с натуральным конопляным маслом, для поддержания иммунной, сердечно сосудистой, опорно-костной, мочеполовой и  эндокринной систем',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/hondrexil.png',
			name: 'HONDREXIL',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы для устранения разных типов боли и воспалений в суставах',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/biorecin.png',
			name: 'BIORECIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Омолаживающие капсулы для питания и регенерации клеток кожи',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Комплекс витаминов и экстрактов для активизации обменных процессов и снижения веса',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/urotrin.png',
			name: 'UROTRIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы с натуральным конопляным маслом, для поддержания иммунной, сердечно сосудистой, опорно-костной, мочеполовой и  эндокринной систем',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/hondrexil.png',
			name: 'HONDREXIL',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы для устранения разных типов боли и воспалений в суставах',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/biorecin.png',
			name: 'BIORECIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Омолаживающие капсулы для питания и регенерации клеток кожи',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Комплекс витаминов и экстрактов для активизации обменных процессов и снижения веса',
			link: '#'
		},
	];




.hits.js-slider-products-wrap
	.hits__slider.js-slider-products.swiper-wrapper
		each hit in hits
			+product(hit)
	.hits__scrollbar.scrollbar.js-slider-products-scrollbar