include mixins/product

-
	const hits = [
		{
			label: 'ÉXITO',
			srcPhoto: 'img/biorecin.png',
			name: 'BIORECIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				}
			],
			text: '380 reseñas',
			desc: 'Las cápsulas antienvejecimiento para nutrir y regenerar las células de la piel',
			link: 'biorecin.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/dialine.png',
			name: 'Dialine',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-empty-1.svg',
					type: 'empty-1'
				}
			],
			text: '354 reseñas',
			desc: 'El remedio con extractos de hierbas para normalizar el nivel de glucosa en la sangre',
			link: 'dialine.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/hondrexil.png',
			name: 'HONDREXIL',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-empty-1.svg',
					type: 'empty-1'
				}
			],
			text: '294 reseñas',
			desc: 'Las cápsulas para diferentes tipos de dolor e inflamación de las articulaciones',
			link: 'hondrexil.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				}
			],
			text: '305 reseñas',
			desc: 'El complejo de vitaminas y extractos para la activación del metabolismo y la pérdida de peso',
			link: 'lipocarnit.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/normaten.png',
			name: 'Normaten',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '270 reseñas',
			desc: 'El remedio para la normalización de la presión arterial y el apoyo al sistema cardiovascular',
			link: 'normaten.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/otovix.png',
			name: 'Otovix',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-empty-1.svg',
					type: 'empty-1'
				}
			],
			text: '390 reseñas',
			desc: 'El complejo para mejorar las funciones auditivas con una fórmula equilibrada de vitaminas y minerales',
			link: 'otovix.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/oсulax.png',
			name: 'Oculax',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-empty-1.svg',
					type: 'empty-1'
				}
			],
			text: '241 reseñas',
			desc: 'El complejo de vitaminas y minerales para recuperar la agudeza visual y prevenir la pérdida de visión',
			link: 'oculax.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/wortex.png',
			name: 'Wortex',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				}
			],
			text: '368 reseñas',
			desc: 'Las cápsulas para la limpieza segura del cuerpo de parásitos y la recuperación de las funciones del sistema digestivo',
			link: 'wortex.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/urotrin.png',
			name: 'Urotrin',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
			],
			text: '279 reseñas',
			desc: 'El remedio para hombres destinado a la normalización de las funciones del sistema reproductivo y urogenital',
			link: 'urotrin.html'
		},
	];




.hits.js-slider-products-wrap
	.hits__slider.js-slider-products.swiper-wrapper
		each hit in hits
			+product(hit)
	.hits__scrollbar.scrollbar.js-slider-products-scrollbar