include mixins/product

-
	const hits = [
		{
			label: 'ХИТ',
			srcPhoto: 'img/biorecin.png',
			name: 'BIORECIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Омолаживающие капсулы для питания и регенерации клеток кожи ',
			link: 'biorecin.html'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/dialine.png',
			name: 'Dialine',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Средство с растительными экстрактами для нормализации уровня глюкозы в крови',
			link: 'dialine.html'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/hondrexil.png',
			name: 'HONDREXIL',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы для устранения разных типов боли и воспалений в суставах',
			link: 'hondrexil.html'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Комплекс витаминов и экстрактов для активизации обменных процессов и снижения веса',
			link: 'lipocarnit.html'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/normaten.png',
			name: 'Normaten',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Средство для нормализации давления и поддержки работы сердечно-сосудистой системы',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/otovix.png',
			name: 'Otovix',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Комплекс для улучшения функций слуха со сбалансированной формулой витаминов и минералов',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/oсulax.png',
			name: 'Oсulax',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Комплекс витаминов и минералов для восстановления остроты и профилактики снижения зрения',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/wortex.png',
			name: 'Wortex',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Капсулы для безопасного очищения организма от паразитов и восстановления функций системы пищеварения',
			link: '#'
		},
		{
			label: 'ХИТ',
			srcPhoto: 'img/urotrin.png',
			name: 'Urotrin',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 отзыв',
			desc: 'Средство для мужчин, направленное на нормализацию функций репродуктивной и мочеполовой системы',
			link: '#'
		},
	];




.hits.js-slider-products-wrap
	.hits__slider.js-slider-products.swiper-wrapper
		each hit in hits
			+product(hit)
	.hits__scrollbar.scrollbar.js-slider-products-scrollbar