.popup.js-popup#popup
	.popup__wrap
		.popup__close.js-close
			i.fico.fico-cross
		.popup__content
			.popup__form
				p.popup__title Le llamaremos para aclarar los detalles
				form.form-popup.js-order-form(action="send.php", method="post")
					.form-popup__success.js-success-form
						p.popup__title ¡GRACIAS! NOS PONDREMOS EN CONTACTO CONTIGO EN BREVE.
					.form-popup__wrap.js-content-form
						.form-popup__inputs
							input.form-popup__input(type="text" name="name" placeholder="Nombre")
							input.form-popup__input(type="text" name="phone" placeholder="Teléfono")
						button.form-popup__btn.btn Pedir una llamada