section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Urotrin
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/urotrin.png", alt="Urotrin")
					.slider-prod__nav-item
						img(src="img/urotrin.png", alt="Urotrin")
					.slider-prod__nav-item
						img(src="img/urotrin.png", alt="Urotrin")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/urotrin.png", alt="Urotrin")
					.slider-prod__for-item
						img(src="img/urotrin.png", alt="Urotrin")
					.slider-prod__for-item
						img(src="img/urotrin.png", alt="Urotrin")
			.product-item__info
				h2.product-item__name Urotrin
				//p.product-item__desc
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Простатит/Потенция
					li.product-list__item
						span Форм-фактор: 
						| Капсулы
					li.product-list__item
						span Форма выпуска:
						| 50 мл
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Средство для мужчин, направленное на нормализацию функций репродуктивной и мочеполовой системы
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Капсулы для потенции содержат растительные компоненты и витамины которые помогают нормализовать  работу мочеполовой, эндокринной и сосудистой системы
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon L-аргинин, женьшень, имбирь, сульфат цинка
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Рекомендуется принимать 3 капсулы во время завтрака. Максимальное суточное потребление: 1 порция (не более 3 капсул в день)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Противопоказания
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Не рекомендуется употреблять детям до 8 лет, беременным женщинам и кормящим женщинам без указания компетентного специалиста и не заменяет сбалансированную диету
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Laboratorio Internacional Pharmacorp SBO S.A.
									| Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								//li.product-list__item
								//	span Дата регистрации:
								//	| 10.04.2020
								//li.product-list__item.mb
								//	span Номер сертификата ЕАС:
								//	| ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 18 месяцев
								li.product-list__item
									span Условия хранения: 
									| хранить в прохладном (≤25 ° C) и сухом (≤60% RH) месте с закрытой крышкой
