include ../../mixins/product
-
	const products = [
		{
			label: 'ÉXITO',
			srcPhoto: 'img/otovix.png',
			name: 'Otovix',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-empty-1.svg',
					type: 'empty-1'
				}
			],
			text: '390 reseñas',
			desc: 'El complejo para mejorar las funciones auditivas con una fórmula equilibrada de vitaminas y minerales',
			link: 'otovix.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/normaten.png',
			name: 'Normaten',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '270 reseñas',
			desc: 'El remedio para la normalización de la presión arterial y el apoyo al sistema cardiovascular',
			link: 'normaten.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/biorecin.png',
			name: 'BIORECIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				}
			],
			text: '380 reseñas',
			desc: 'Las cápsulas antienvejecimiento para nutrir y regenerar las células de la piel',
			link: 'biorecin.html'
		},
	];

section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") INICIO
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Catálogo
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Para la salud
			span.breadcrumbs__line /
			span.breadcrumbs__main Oculax
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item.slider-prod__nav-item--main-photo
						img(src="img/oсulax.png", alt="Oculax")
					.slider-prod__nav-item
						img(src="img/oculax_1.jpg", alt="Oculax")
					.slider-prod__nav-item
						img(src="img/oculax_2.jpg", alt="Oculax")
					.slider-prod__nav-item
						img(src="img/oculax_3.jpg", alt="Oculax")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item.slider-prod__for-item--main-photo
						img(src="img/oсulax.png", alt="Oculax")
					.slider-prod__for-item
						img(src="img/oculax_1.jpg", alt="Oculax")
					.slider-prod__for-item
						img(src="img/oculax_2.jpg", alt="Oculax")
					.slider-prod__for-item
						.youtube(data-embed="E6WiQ03V3Hc")
							.play
			.product-item__info
				h2.product-item__name Oculax
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-1.svg", alt="")
					p.product-item__rating-text 241 reseñas
				ul.product-item__list.product-list
					li.product-list__item Esfera: Visión
					li.product-list__item Forma: Cápsulas
					li.product-list__item Volumen: 21 pzs.
				a.product-item__btn.button(href="order.html?id=oсulax") Pedir
				p.product-item__text El complejo de vitaminas y minerales para recuperar la agudeza visual y prevenir la pérdida de visión
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Descripción
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Las cápsulas para mejorar la visión contienen ingredientes vegetales y vitaminas que ayudan a normalizar la función de hidratación del ojo, mejoran la circulación sanguínea en los capilares y tienen un efecto positivo en la agudeza visual.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Composición
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Vitamina A, vitamina E, vitamina C, selenito de sodio, sulfato de zinc.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Uso
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Se recomienda tomar 3 cápsulas con el desayuno. La ingesta máxima diaria: 1 porción (no más de 3 cápsulas al día)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Información adicional
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item Fabricante: Laboratorio Internacional Pharmacorp SBO S.A. Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								//- li.product-list__item Дата регистрации: 10.04.2020
								//- li.product-list__item.mb Номер сертификата ЕАС: ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb Fecha de caducidad: 18 meses
								li.product-list__item Condiciones de almacenamiento: almacenar en un lugar fresco (≤25°C) y seco (≤60% HR) con la tapa puesta.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Reseñas
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Juanita Valerio, 32&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_oculax_1.png", alt="")
								p.review-small__text La alergia me causó problemas en los ojos. Lágrimas, enrojecimiento, no pude mirar durante mucho tiempo. Las cápsulas Oculax ayudaron con los síntomas en un curso. Siempre las tengo en mi botiquín.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Gloria Illescas, 45&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-black.svg", alt="")
									img.review-small__photo(src="img/review_oculax_2.png", alt="")
								p.review-small__text Llevo dos años usando lentillas y al principio fue muy doloroso... Eran incómodas y quería frotarme los ojos todo el tiempo. Solo cuando empecé a usar estas cápsulas ya no siento las lentillas en los ojos.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Agustina Moruga, 47&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_oculax_4.png", alt="")
								p.review-small__text Oculax se ha convertido en una ayuda indispensable en el trabajo. Soy diseñadora de páginas web. Mis ojos ya están cansados a la hora de comer. Suea trabajar con gafas. Pero estas cápsulas lo hacen más fácil. Puedo trabajar todo el día y ni siquiera pensar en mis gafas. Puedo ver bien y mis ojos están menos cansados.
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Tatiana Rouco, 36&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-empty-1.svg", alt="")
									img.review-small__photo(src="img/review_oculax_6.png", alt="")
								p.review-small__text Es un remedio eficaz. Excelente para los ojos cansados y rojos. Para los que trabajan con documentos todo el día, ¡justo lo que necesitan!
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Anthony Pareja, 64&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_oculax_14.png", alt="")
								p.review-small__text Estas cápsulas son buenas para mejorar la agudeza visual. Siempre llevaba gafas por las noches, pero ahora veo bien incluso sin ellas: puedo leer libros con letra pequeña. ¡A mi edad!
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Brenda Garrido, 61&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
									img.review-small__photo(src="img/review_oculax_9.png", alt="")
								p.review-small__text Unas cápsulas estupendas, me ayudaron a mejorar la agudeza visual. Antes tenía que fijarme bien en los precios del supermercado, ¡ahora los veo claro! ¡Recomiendo Oculax!
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Édgar González, 49&nbsp;años
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-empty-1.svg", alt="")
									img.review-small__photo(src="img/review_oculax_15.png", alt="")
								p.review-small__text Paso mucho tiempo con los planos, tengo que forzar la vista todo el tiempo. A fin de cuentas, el cansancio hace que todo se vea borroso. En estos casos, Oculax es el único producto que me ayuda. Elimina rápidamente todas las molestias.

					.specification.specification--recomm
						.specification__top
							h3.specification__ttl Compran con este producto
						.specification__text
							.specification__products
								each product in products
									+product(product)