section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=woman") Для женщин
			span.breadcrumbs__line /
			span.breadcrumbs__main Dialine
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/dialine.png", alt="dialine")
					.slider-prod__nav-item
						img(src="img/dialine.png", alt="dialine")
					.slider-prod__nav-item
						img(src="img/dialine.png", alt="dialine")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/dialine.png", alt="dialine")
					.slider-prod__for-item
						img(src="img/dialine.png", alt="dialine")
					.slider-prod__for-item
						img(src="img/dialine.png", alt="dialine")
			.product-item__info
				h2.product-item__name Dialine
				//p.product-item__desc
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
					p.product-item__rating-text 213 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Диабет
					li.product-list__item
						span Форм-фактор: 
						| Капсулы
					li.product-list__item
						span Форма выпуска:
						| Банка, капсулы, 21 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Средство с растительными экстрактами для нормализации уровня глюкозы в крови
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Капсулы диабете, содержат растительные компоненты и витамины которые помогают нормализовать уровень глюкозы в крови, уровень холестерина и работу эндокринной системы
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Цитрат магния, желатин (из капсулы), кукурузный мальтодекстрин, порошок корицы (Cinnamomum verum J.Presl), порошок алоэ вера (Aloe ferox), порошок моринги (Moringa oleifera), аскорбиновая кислота (витамин C) , ESTEVIA, стеарат магния, мононитрат тиамина (вит. B1), холекальциферол (вит. D), пиколинат хрома.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Небольшое количество крема нанести на чистую, сухую кожу  легкими движениями по  массажным линиям лица и шеи. Применять крем утром и вечером.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Противопоказания
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Не рекомендуется употреблять детям до 8 лет, беременным женщинам и кормящим женщинам без указания компетентного специалиста и не заменяет сбалансированную диету
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Laboratorio Internacional Pharmacorp SBO S.A.
									| Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								//li.product-list__item
								//	span Дата регистрации:
								//	| 05.08.2020
								//li.product-list__item.mb
								//	span Декларация о соответствии ЕАС:
								//	br
								//	| EAЭС N RU Д-RU.HB32.В.11640/20
								li.product-list__item.mb
									span Срок годности: 
									| 18 месяцев
								li.product-list__item
									span Условия хранения: 
									| хранить в прохладном (≤25 ° C) и сухом (≤60% RH) месте с закрытой крышкой.