-
	const reviewsArray = [
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Хосе Диас',
			desc: '<span>высказал</span> свое мнение про&nbsp;UROTRIN',
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Хосе Диас',
			desc: '<span>высказал</span> свое мнение про&nbsp;UROTRIN',
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Хосе Диас',
			desc: '<span>высказал</span> свое мнение про&nbsp;UROTRIN',
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Хосе Диас',
			desc: '<span>высказал</span> свое мнение про&nbsp;UROTRIN',
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Хосе Диас',
			desc: '<span>высказал</span> свое мнение про&nbsp;UROTRIN',
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Хосе Диас',
			desc: '<span>высказал</span> свое мнение про&nbsp;UROTRIN',
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Хосе Диас',
			desc: '<span>высказал</span> свое мнение про&nbsp;UROTRIN',
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Хосе Диас',
			desc: '<span>высказал</span> свое мнение про&nbsp;UROTRIN',
			text: 'Принимала эти капсулы для помощи в похудении. Параллельно с этим сидела на диете и занималась спортом. После начала приема капсул вес стал намного быстрее уменьшатся. А раньше каждый килограмм уходил с огромным трудом.'
		},
	];