-
	const reviewsArray = [
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'ХУАН ГОНСАЛЕС',
			desc: '<span>высказал</span> свое мнение про&nbsp;NORMATEN',
			text: '“Плавно снижает давление и убирает неприятные симптомы, давление перестало резко подниматься. Побочных свойств не вызвал. Все отлично!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'РОЗА ПЕРЕС',
			desc: '<span>высказал</span> свое мнение про&nbsp;NORMATEN',
			text: '“NORMATEN пришел за пару дней. Уже с первых дней применения давление перестало скакать. А после курса полностью стабилизировалось. Быстро помогает!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Карлос Лопес',
			desc: '<span>высказал</span> свое мнение про&nbsp;OCULAX',
			text: '“Заказал Oculax. Доставка быстрая — всего пару дней. Средством доволен. Зрение стало лучше. Рекомендую!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'АННА РОХАС',
			desc: '<span>высказал</span> свое мнение про&nbsp;DIALINE',
			text: '“Прекрасный продукт для всех, кто страдает от повышенного сахара. И состояние улучшает, и контролировать сахар помогает. Чувствую себя прекрасно!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'МАРИЯ МУНЬОС',
			desc: '<span>высказал</span> свое мнение про&nbsp;LIPOCARNIT',
			text: '“Средство замечательное! Минус 11 кг!!! Получила тело, о котором мечтала, и так легко! Доставка была быстрой, всего пару дней! Ставлю средству 10 из 10!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'КАРОЛИНА САНЧЕЗ',
			desc: '<span>высказал</span> свое мнение про&nbsp;BIORECIN',
			text: '“BIORECIN — чудо! Морщины разгладились, кожа стала увлажненной и упругой. Помолодела лет на 20! Знакомые не узнают на улице!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'ХУАН ГОНСАЛЕС',
			desc: '<span>высказал</span> свое мнение про&nbsp;NORMATEN',
			text: '“Плавно снижает давление и убирает неприятные симптомы, давление перестало резко подниматься. Побочных свойств не вызвал. Все отлично!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'РОЗА ПЕРЕС',
			desc: '<span>высказал</span> свое мнение про&nbsp;NORMATEN',
			text: '“NORMATEN пришел за пару дней. Уже с первых дней применения давление перестало скакать. А после курса полностью стабилизировалось. Быстро помогает!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'Карлос Лопес',
			desc: '<span>высказал</span> свое мнение про&nbsp;OCULAX',
			text: '“Заказал Oculax. Доставка быстрая — всего пару дней. Средством доволен. Зрение стало лучше. Рекомендую!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'АННА РОХАС',
			desc: '<span>высказал</span> свое мнение про&nbsp;DIALINE',
			text: '“Прекрасный продукт для всех, кто страдает от повышенного сахара. И состояние улучшает, и контролировать сахар помогает. Чувствую себя прекрасно!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'МАРИЯ МУНЬОС',
			desc: '<span>высказал</span> свое мнение про&nbsp;LIPOCARNIT',
			text: '“Средство замечательное! Минус 11 кг!!! Получила тело, о котором мечтала, и так легко! Доставка была быстрой, всего пару дней! Ставлю средству 10 из 10!”'
		},
		{
			src: 'img/review_argosev_bio_1.png',
			name: 'КАРОЛИНА САНЧЕЗ',
			desc: '<span>высказал</span> свое мнение про&nbsp;BIORECIN',
			text: '“BIORECIN — чудо! Морщины разгладились, кожа стала увлажненной и упругой. Помолодела лет на 20! Знакомые не узнают на улице!”'
		},
	];