-
	const reviewsOculax = [
		{
			src: 'img/review_oculax_1.png',
			name: 'Juanita Valerio, 32&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'La alergia me causó problemas en los ojos. Lágrimas, enrojecimiento, no pude mirar durante mucho tiempo. Las cápsulas Oculax ayudaron con los síntomas en un curso. Siempre las tengo en mi botiquín.'
		},
		{
			src: 'img/review_oculax_2.png',
			name: 'Gloria Illescas, 45&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Llevo dos años usando lentillas y al principio fue muy doloroso... Eran incómodas y quería frotarme los ojos todo el tiempo. Solo cuando empecé a usar estas cápsulas ya no siento las lentillas en los ojos.'
		},
		{
			src: 'img/review_oculax_3.png',
			name: 'Iris Abellán, 38&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Compré Oculax para mi madre, ya que se quejaba de un dolor constante en los ojos, sequedad y pérdida de agudeza. Un amigo oftalmólogo me recomendó estas cápsulas. Mi madre se sintió mejor. El enrojecimiento desapareció y la agudeza mejoró. Buen remedio.'
		},
		{
			src: 'img/review_oculax_4.png',
			name: 'Agustina Moruga, 47&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Oculax se ha convertido en una ayuda indispensable en el trabajo. Soy diseñadora de páginas web. Mis ojos ya están cansados a la hora de comer. Suea trabajar con gafas. Pero estas cápsulas lo hacen más fácil. Puedo trabajar todo el día y ni siquiera pensar en mis gafas. Puedo ver bien y mis ojos están menos cansados.'
		},
		{
			src: 'img/review_oculax_5.png',
			name: 'Valentina Aguayo, 51&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Oculax me ayudó a evitar la corrección láser. Tenía miedo de este procedimiento, así que busqué métodos alternativos. ¡Y lo encontré! Ahora lo recomiendo a todos los que tienen problemas de visión. Contiene selenio y vitaminas, así como fortalece el organismo.'
		},
		{
			src: 'img/review_oculax_6.png',
			name: 'Tatiana Rouco, 36&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Es un remedio eficaz. Excelente para los ojos cansados y rojos. Para los que trabajan con documentos todo el día, ¡justo lo que necesitan!'
		},
		{
			src: 'img/review_oculax_7.png',
			name: 'Alexia Andrade, 29&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Trabajo con una computadora. Una de cada tres personas de mi oficina tiene los ojos cansados por la noche. Mis colegas me recomendaron tomar Oculax. Lo pedí y lo tomé: ¡ahora todo es diferente! Ahora ya no me siento cansada y desorientada por la noche.'
		},
		{
			src: 'img/review_oculax_8.png',
			name: 'Viviana Carita, 38&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Tomé estas cápsulas para mi abuela, que se había quedado casi ciega pero rechazó la corrección y la cirugía. Por supuesto, la visión no se recuperó por completo, pero ahora ella es independiente de nuevo, antes no podía ver nada y necesitaba ayuda todo el tiempo.'
		},
		{
			src: 'img/review_oculax_9.png',
			name: 'Brenda Garrido, 61&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Unas cápsulas estupendas, me ayudaron a mejorar la agudeza visual. Antes tenía que fijarme bien en los precios del supermercado, ¡ahora los veo claro! ¡Recomiendo Oculax!'
		},
		{
			src: 'img/review_oculax_10.png',
			name: 'Encarnación García, 47&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'A menudo experimento sequedad e irritación en los ojos. Los especialistas dijeron que tenía "el síndrome del ojo seco". Me recomendaron diferentes gotas, pero todas fueron ineficaces. Solo salvó Oculax. Los síntomas desaparecieron. Incluso después de terminar el curso, todo está bien.'
		},
		{
			src: 'img/review_oculax_11.png',
			name: 'Zacarías García, 59&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Cuando me di cuenta de que mi visión empeoraba, fui de inmediato a un especialista. Me recomendaron estas cápsulas. Al final me ayudaron a recuperar la vista. Me alegro de haberlo hecho, de lo contrario habría tenido que llevar gafas.'
		},
		{
			src: 'img/review_oculax_12.png',
			name: 'Cristóbal Zoido, 37&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Después de un curso de uso de estas cápsulas, no solo mi visión ha mejorado, sino que la sequedad, la inflamación han desaparecido y la imagen es más clara. ¡Es fantástico!'
		},
		{
			src: 'img/review_oculax_13.png',
			name: 'Antonio Gallo, 60&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Llevo toda la vida dedicándome a la soldadura. Por supuesto, no pude evitar los problemas oculares. Mi hijo me trajo cápsulas Oculax. Tomé 3 cápsulas cada mañana con el desayuno, y no tuve que esperar mucho tiempo para notar la mejoría. Ahora puedo seguir trabajando, estaba a punto de jubilarme...'
		},
		{
			src: 'img/review_oculax_14.png',
			name: 'Anthony Pareja, 64&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Estas cápsulas son buenas para mejorar la agudeza visual. Siempre llevaba gafas por las noches, pero ahora veo bien incluso sin ellas: puedo leer libros con letra pequeña. ¡A mi edad!'
		},
		{
			src: 'img/review_oculax_15.png',
			name: 'Édgar González, 49&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OCULAX',
			text: 'Paso mucho tiempo con los planos, tengo que forzar la vista todo el tiempo. A fin de cuentas, el cansancio hace que todo se vea borroso. En estos casos, Oculax es el único producto que me ayuda. Elimina rápidamente todas las molestias.'
		},
	];