-
	const reviewsHondrexil = [
		{
			src: 'img/review_hondrexil_1.png',
			name: 'Alicia Gayoso, 65&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Viví con artritis durante varios años. ¡El dolor era insoportable! Fui a especialistas, compré diferentes ungüentos, tomé pastillas, pero no me ayudaron. Hasta que mi hija me trajo Hondrexil. Sentí alivio al final de la primera semana de terapia. ¡Excelente remedio para la inflamación y el dolor!'
		},
		{
			src: 'img/review_hondrexil_2.png',
			name: 'Rafaela Madrid, 34&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Después de la fractura, el brazo solía doler. Solo me salvaron los analgésicos. Visité a mi madre durante las vacaciones y me recomendó las cápsulas Hondrexil. Me gustó la composición de las cápsulas y las pedí para mí. Después de dos cursos, ¡me olvidé por completo del dolor!'
		},
		{
			src: 'img/review_hondrexil_3.png',
			name: 'Celeste Dávalos, 47&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Sufro de osteocondrosis desde los 25 años. Acudí a muchos expertos y probé muchos métodos diferentes. Pero solo Hondrexil ayuda realmente. Este es el único método que me pone en pie. Contiene cúrcuma y colágeno, que son los mejores ingredientes para las articulaciones y los cartílagos.'
		},
		{
			src: 'img/review_hondrexil_4.png',
			name: 'Sandra Alarcón, 62&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'La vejez comenzó sin ser notada. Cuando me empezaron a doler las articulaciones, sentí que había envejecido unos 20 años. Gracias a una amiga que me recomendó Hondrexil. Puedo moverme con más facilidad y el dolor ha desaparecido. Son buenas cápsulas.'
		},
		{
			src: 'img/review_hondrexil_5.png',
			name: 'Nina Graciani, 54&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Pedí Hondrexil por su composición. Tiene todos los ingredientes necesarios para nuestros huesos. Además del colágeno, los extractos y las vitaminas, también tiene Omega 3. Las cápsulas son eficaces, las he probado personalmente.'
		},
		{
			src: 'img/review_hondrexil_6.png',
			name: 'Carmen Fontirroig, 48&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Es un gran remedio para los problemas articulares. Salvó a mi madre. Estábamos a punto de comprar una silla de ruedas porque le dolían mucho las rodillas y le resultaba muy difícil caminar. ¡Compramos Hondrexil y todo fue bien!'
		},
		{
			src: 'img/review_hondrexil_7.png',
			name: 'Angélica Freixa, 67&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Hondrexil me ayudó con las articulaciones de la cadera. Los especialistas hicieron un examen y no podían creer que fuera posible. Ni siquiera sabían que existía Hondrexil. Así que tuve mucha suerte, les recomiendo estas cápsulas a ustedes también.'
		},
		{
			src: 'img/review_hondrexil_8.png',
			name: 'Sabrina Pardo, 44&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Los expertos dijeron que después de mi lesión, el dolor de rodilla me seguiría durante el resto de mi vida. Pero, se equivocaron. Después de tomar un curso de Hondrexil, no he tenido ningún problema con mi pierna durante seis meses. ¡Gracias!'
		},
		{
			src: 'img/review_hondrexil_9.png',
			name: 'Nazarena Bienvenida, 56&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Un vecino me habló de este remedio. Siempre me he preguntado cómo trabaja en el jardín desde la mañana hasta la noche a sus 82 años. Resultó que toma estas cápsulas y sus articulaciones no le molestan. Ahora soy tan activa como cuando tenía 20 años.'
		},
		{
			src: 'img/review_hondrexil_10.png',
			name: 'Iris Correa, 71&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Hondrexil me ayudó a recuperarme. La artritis era tan dolorosa que ni siquiera podía ir al baño sin ayuda de los demás. Ahora puedo salir a pasear y a comprar. Ahora salgo a pasear y de compras. No hay problemas.'
		},
		{
			src: 'img/review_hondrexil_11.png',
			name: 'Alberto Juderías, 58&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'En mi juventud practiqué muchos deportes. El resultado fue la destrucción del cartílago articular. Los especialistas me pronosticaron una discapacidad si no me operaba. No me operé. Hondrexil ayudó a recuperar el cartílago y la movilidad de las articulaciones. Se hizo una resonancia magnética y los especialistas quedaron sorprendidos.'
		},
		{
			src: 'img/review_hondrexil_12.png',
			name: 'Serafín Alarcón, 66&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'En el pasado había sufrido mucho de inflamación de las articulaciones. Las rodillas me dolían por el tiempo. Mis hijos descubrieron Hondrexil, lo compraron y me obligaron a hacer un curso. Me siento mucho mejor, mis articulaciones ya no crujen, el dolor ha desaparecido, incluso el tiempo ya no me afecta.'
		},
		{
			src: 'img/review_hondrexil_13.png',
			name: 'Julián Arboleda, 32&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Soy levantador de pesas, lo que supone un gran esfuerzo para mis articulaciones cada día. Para mantenerlas sanas, utilizo Hondrexil. Es excelente para aliviar el dolor y la inflamación. Me lo contaron en el gimnasio y ahora tenemos muchos fans de estas cápsulas.'
		},
		{
			src: 'img/review_hondrexil_14.png',
			name: 'Iker Lacasa, 43&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Gracias a los fabricantes de este remedio. Dos cursos y puedo volver a correr por la mañana. Y no hay hinchazón ni crujido. ¡Ya no me duelen las piernas!'
		},
		{
			src: 'img/review_hondrexil_15.png',
			name: 'Emiliano Sánchez, 56&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;HONDREXIL',
			text: 'Sufrí de artrosis en la rodilla durante 3 años. Usaba analgésicos y cremas, pero también dejaron de funcionar. Probé Hondrexil y me sorprendió gratamente, ¡todos los síntomas desaparecieron! Contiene colágeno, que es un componente muy potente para las articulaciones. Prueben las cápsulas y estoy seguro de que me lo agradecerán.'
		},
	];