-
	const reviewsWortex = [
		{
			src: 'img/review_wortex_1.png',
			name: 'Lía Cabal, 33&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Hizo que la familia tomara Wortex y limpiara su organismo. El marido y la hija adolescente se quejaron de dolor abdominal y malestar intestinal. Después del curso de este remedio, todos los síntomas han desaparecido y todos parecen estar muy bien.'
		},
		{
			src: 'img/review_wortex_2.png',
			name: 'Rafaela Muñoz, 51&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'El remedio no es tóxico, es un producto de base natural con extractos de hierbas. Elimina los parásitos y limpia el hígado. Lo recomiendo, realmente funciona.'
		},
		{
			src: 'img/review_wortex_3.png',
			name: 'Priscila Indiano, 47&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Probé muchos remedios diferentes, incluidos los químicos. Tuve muchos efectos secundarios y ningún resultado. El problema fue resuelto solo por Wortex. Las cápsulas son fáciles de tragar y deben tomarse una vez al día.'
		},
		{
			src: 'img/review_wortex_4.png',
			name: 'Evangelina Espina, 48&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Contiene extractos de ajo, calabaza, granada y pimienta negra. Además de limpiar el cuerpo de helmintos, también es un refuerzo de inmunidad eficaz. Probé la eficacia en mí mismo. ¡Estas cápsulas son excelentes!'
		},
		{
			src: 'img/review_wortex_5.png',
			name: 'Araceli Pareja, 25&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Wortex no solo mata a los gusanos, sino que también elimina sus productos nocivos y sus toxinas. Me lo aconsejó una amiga que trabaja en una clínica; todos allí lo toman 2 veces al año para prevenir.'
		},
		{
			src: 'img/review_wortex_6.png',
			name: 'Inmaculada Fraga, 34&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'No sentí ninguna molestia hasta que de repente llegaron los resultados de las pruebas. Me sorprendieron, por no decir otra cosa. Al principio intenté tomar tinturas para las lombrices, pero no hubo ningún resultado. Solo Wortex me ayudó a limpiar mi cuerpo de huéspedes no invitados.'
		},
		{
			src: 'img/review_wortex_7.png',
			name: 'Luisa Obregón, 39&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Este producto actúa como una fórmula de desintoxicación. Además de limpiar de parásitos, también ayuda a regular el tracto gastrointestinal y mejora la inmunidad. Tomo estas cápsulas dos veces al año y me siento muy bien.'
		},
		{
			src: 'img/review_wortex_8.png',
			name: 'Juliana Graciani, 46&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'El producto es seguro. La segunda vez la tomamos en familia. La primera vez que se eliminaron los gusanos después de un viaje al balneario, aparentemente nos habíamos infectado allí. La segunda vez para prevenir las lombrices. Un remedio maravilloso, no se puede pensar en nada mejor.'
		},
		{
			src: 'img/review_wortex_9.png',
			name: 'Viviana Carita, 35&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Después de tomar Wortex, ya no tengo náuseas ni dolor abdominal habituales. El remedio hace efecto y al mismo tiempo refuerza el estado general del organismo.'
		},
		{
			src: 'img/review_wortex_10.png',
			name: 'Ramón Sarmiento, 44&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Hice este curso con mi hermano ya que vamos a la piscina y su entrenador dice que debe hacerse como medida preventiva. No tenía ni idea de que mi bienestar pudiera estar tan bien con unas cápsulas de hierbas. Tengo mucha energía, ¡es genial!'
		},
		{
			src: 'img/review_wortex_11.png',
			name: 'Ramón Laguna, 50&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Es la tercera vez que compro estas cápsulas. Al principio no noté mucho cambio, pero después de un mes me sentí más ligera de cuerpo, de mejor humor y ya no tenía molestias de estómago. Ahora quiero consolidar los resultados.'
		},
		{
			src: 'img/review_wortex_12.png',
			name: 'César Amengual, 38&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'Cada seis meses hago una profilaxis y esta vez elegí Wortex. Qué puedo decir, estas cápsulas siempre estarán en mi botiquín. ¡Mataron y eliminaron las lombrices e incluso mi tos alérgica desapareció!'
		},
		{
			src: 'img/review_wortex_13.png',
			name: 'Bruno Gilabert, 61&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'No tuve ningún malestar gastrointestinal, pero eliminé todos los gusanos. Sentí de inmediato que me llenaba de energía, ya que antes estos me quitaban toda la energía. Además, la composición natural era importante para mí.'
		},
		{
			src: 'img/review_wortex_14.png',
			name: 'Alexander Mancebo, 46&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;WORTEX',
			text: 'El intestino funciona ahora como un reloj y eso es genial. Ni siquiera pensé que iría tan bien y que no habría efectos secundarios. Estoy satisfecho y recomiendo comprar Wortex.'
		},
	];