-
	const reviewsLipocarnit = [
		{
			src: 'img/review_lipocarnit_1.png',
			name: 'Margarita Freixa, 35&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Llevo tres semanas tomando Lipocarnit. Después de tomarlo, apareció mucha energía. Al final de la primera semana comencé a perder peso. En general, he perdido casi 6 kg.'
		},
		{
			src: 'img/review_lipocarnit_2.png',
			name: 'Florencia Sánchez, 22&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Mi madre pudo perder 17 kg de peso con Lipocarnit en solo 2 cursos. En este caso, no se torturó con dietas y deportes. Ahora lo recomienda a sus amigas)'
		},
		{
			src: 'img/review_lipocarnit_3.png',
			name: 'Candela Gaos, 46&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Tomó Lipocarnit durante casi un mes. No se observaron efectos secundarios, durante este tiempo perdió 8 kg. He notado que el peso se pierde mejor cuando se añaden ejercicios.'
		},
		{
			src: 'img/review_lipocarnit_4.png',
			name: 'Jazmín Fernandino, 53&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Tomé estas cápsulas, sin esperar resultados, ya que el peso no se cambiaba desde hacía mucho tiempo. Tomé 3 cápsulas por la mañana según las instrucciones. Después de 10 días de toma, perdí 2 kg. He pedido dos paquetes más.'
		},
		{
			src: 'img/review_lipocarnit_5.png',
			name: 'Fatima Sanz, 45&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Tomé este remedio en combinación con duros entrenamientos. Resultado: no más grasa en la cintura y las caderas. En un mes perdí 5 kg. Estoy muy satisfecha.'
		},
		{
			src: 'img/review_lipocarnit_6.png',
			name: 'Lía Noboa, 23&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Estudio para ser nutricionista y sé lo eficaces que son las judías blancas para perder peso. Lipocarnit es un producto con una composición perfecta. Si quiere perder peso, ¡sin duda le ayudará!'
		},
		{
			src: 'img/review_lipocarnit_7.png',
			name: 'Luna Encarnación, 35&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'El extracto de judías blancas es excelente para reducir el apetito, especialmente de dulces y chocolate. Esto hace que la dieta sea más eficaz. Pero incluso si no hace dieta, gracias a la reducción del apetito comerá menos. Ya he bajado 11 kg)'
		},
		{
			src: 'img/review_lipocarnit_8.png',
			name: 'Malena Encarnación, 26&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Gracias a estas cápsulas mi metabolismo es mucho mejor, mi apetito ha bajado, he aprendido a escuchar a mi cuerpo y a parar cuando he tenido suficiente, es decir, he aprendido a no comer en exceso. ¡Estoy encantada con este remedio!'
		},
		{
			src: 'img/review_lipocarnit_9.png',
			name: 'Alexa Noboa, 41&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: '¡Cómo no conocía este producto antes! He gastado mucho dolor, dinero y lágrimas. No he comido nada durante semanas, pero aún así el peso se mantuvo. ¡Lipocarnit es un regalo del cielo para los desesperados! ¡Pruébelo y apueste por la delgadez!'
		},
		{
			src: 'img/review_lipocarnit_10.png',
			name: 'Bárbara Prats, 33&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'El producto contiene inulina, que suprime el hambre, normaliza el metabolismo de las grasas y reduce el colesterol perjudicial. 2 envases bastaron para alcanzar mi peso deseado. Mi amiga necesitó tres. Además de perder peso, también me sentía mejor y tenía más energía.'
		},
		{
			src: 'img/review_lipocarnit_11.png',
			name: 'Lika Ferrant, 24&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Tengo 10 kilos de más. Tomo las cápsulas siguiendo estrictamente las instrucciones. No hay sensación de hambre, ni antojos de comida basura. No hay fatiga ni debilidad como con otros productos. El peso está bajando gradualmente, ya he perdido 4 kg. Me gustaría añadir deportes, creo que esto será más eficiente.'
		},
		{
			src: 'img/review_lipocarnit_12.png',
			name: 'Jerónimo Cabal, 37&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Estas cápsulas me ayudan realmente a perder peso y a comer bien, ni siquiera quiero comer dulces y grasas. Siendo mi línea de base de casi 95 kg, ya he perdido 9 kg en 2 meses. Creo que es un buen resultado.'
		},
		{
			src: 'img/review_lipocarnit_13.png',
			name: 'Iván De La Cavallería, 28&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Combino Lipocarnit con el gimnasio y el jogging por la mañana. A veces bebo alcohol, pero trato de mantener mi dieta. Gracias a las cápsulas he perdido más de 5 kg en 3 semanas. Pero todavía tengo 2 envases más. Veremos el resultado después de todo el curso.'
		},
		{
			src: 'img/review_lipocarnit_14.png',
			name: 'Axel Berrocal, 55&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Me gustan estas cápsulas. Me dan energía y pierdo más peso con ellas que con cualquier otro producto. Las he probado yo mismo, ¡son eficaces! Las tomo con mi mujer y mi hija.'
		},
		{
			src: 'img/review_lipocarnit_15.png',
			name: 'Lucho Cabal',
			desc: '<span>expresó</span> su upinión sobre&nbsp;LIPOCARNIT',
			text: 'Un amigo nutricionista me recomendó Lipocarnit. No pensé que pudiera perder tanto peso extra en tan poco tiempo. ¡He perdido 12 kg en 1,5 meses! ¡Es una victoria, amigos!'
		},
	];