include reviews_normaten
include reviews_hondrexil
include reviews_urotrin
include reviews_otovix
include reviews_dialine
include reviews_lipocarnit
include reviews_oculax
include reviews_wortex
include reviews_biorecin



-
	const reviewsArray = reviewsNormaten.concat(reviewsHondrexil, reviewsUrotrin, reviewsOtovix, reviewsDialine, reviewsLipocarnit, reviewsOculax, reviewsWortex, reviewsBiorecin);