-
	const reviewsUrotrin = [
		{
			src: 'img/review_urotrin_1.png',
			name: 'Umberto Escribano, 63&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Luché contra la prostatitis durante dos años. El dolor era terrible cuando tenía que orinar. La vida era un tormento. Tomé Urotrin durante un mes, por consejo de un amigo. ¡Ahora estoy sano!'
		},
		{
			src: 'img/review_urotrin_2.png',
			name: 'Fabián Campos, 57&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Vives, eres joven, ¡y de repente tienes prostatitis! No pensé que tendría que lidiar con este problema a esa edad. Pedí Urotrin, el paquete llegó rápido, lo tomé según las instrucciones. El ardor desapareció al tercer día y el dolor desapareció por completo al cabo de una semana. El producto es de alta calidad, estoy satisfecho.'
		},
		{
			src: 'img/review_urotrin_3.png',
			name: 'Tobías Magrina, 68&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Llevo toda la vida con problemas en el sistema genitourinario, es casi crónico. Así que no creí que Urotrin pudiera ayudarme. Pero me arriesgué, mi mujer me pidió que lo hiciera. ¡Las cápsulas ayudaron! ¡Las recomiendo!'
		},
		{
			src: 'img/review_urotrin_4.png',
			name: 'Christian Gilabert, 60&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: '¡Urotrin es eficaz! Probado por mí personalmente. Nunca aconsejaría a nadie que experimentara lo que yo sentí, el ardor al orinar era tan fuerte, que me hizo llorar. Ahora todo ha desaparecido, gracias a este producto.'
		},
		{
			src: 'img/review_urotrin_5.png',
			name: 'Justin Cazalla, 49&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'No soy médico, pero antes de hacer el pedido, entré en Internet para leer sobre la L-arginina, que forma parte de estas cápsulas. Resultó ser tan útil para los hombres que nunca había oído hablar de ella. Compré dos paquetes a la vez, los tomé y todos los síntomas desaparecieron.'
		},
		{
			src: 'img/review_urotrin_6.png',
			name: 'Sebastián Freixa, 54&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Tomé esta cápsula durante 3 semanas y fue suficiente para eliminar todos los síntomas. Excelente remedio.'
		},
		{
			src: 'img/review_urotrin_7.png',
			name: 'Alfredo Alguacil, 72&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Me enganché al anuncio de un remedio muy conocido y lo tomé, pero no hizo nada. Entonces un amigo me recomendó Urotrin. Yo, sin embargo, tomé 3 envases, pero mi amigo dijo que era mejor estar seguro. ¡Al fin y al cabo me despedí de todos los síntomas de la prostatitis, estoy feliz!'
		},
		{
			src: 'img/review_urotrin_8.png',
			name: 'Raúl Andino, 66&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'La inflamación de la glándula prostática es algo muy serio. Incluso puede contraer cáncer. Mi terapia no fue fácil. Probé diferentes pastillas durante más de un año pero nada me ayudó. Y solo Urotrin sirvió. Gracias a los fabricantes.'
		},
		{
			src: 'img/review_urotrin_9.png',
			name: 'Gustavo Secada, 65&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Gracias a los fabricantes de este gran producto por mi "sistema masculino" sano. No he podido orinar sin dolor y lágrimas durante casi medio año. Era insoportable. Qué bendición resulta ser solo ir al baño con tranquilidad...'
		},
		{
			src: 'img/review_urotrin_10.png',
			name: 'Serafín Tassis, 58&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Tuve prostatitis durante unos 5 años. Me divorcié de mi mujer hace 2 años, empezamos a pelear, no hubo sexo durante mucho tiempo. Depresión, dificultades y dolores en la zona "masculina". Pero me tranquilicé y fui a ver a un experto. Y el resultado: después de 2 cursos de Urotrin, ¡estoy sano de nuevo! ¡Fantástico!'
		},
		{
			src: 'img/review_urotrin_11.png',
			name: 'Virginia Yepes, 37&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Compré Urotrin para mi padre. Mi madre se quejaba constantemente de los dolores de mi padre. Nosotras empezamos a buscar una solución y encontramos estas cápsulas. Contienen arginina, sé que es excelente para normalizar el sistema genitourinario, mejora la circulación sanguínea. Ayudó a mi padre, es un buen remedio.'
		},
		{
			src: 'img/review_urotrin_12.png',
			name: 'Isaias Semprún, 65&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Mi marido va en silla de ruedas y puede imaginarse lo difícil que es para él ir al baño. Cuando se le inflamó la próstata, este procedimiento fue un desastre. Una vecina me recomendó estas cápsulas y le di a mi marido 3 de ellas durante el desayuno. El dolor desapareció y la micción se volvió normal.'
		},
		{
			src: 'img/review_urotrin_13.png',
			name: 'Isaias Semprún, 65&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Mi hombre tuvo una prostatitis. Todas las persuasiones para visitar a un experto fueron inútiles. La vergüenza y el miedo a visitar al especialista hacen que a menudo se descuide la inflamación y se produzcan complicaciones peligrosas. Como resultado encontramos Urotrin como se recomendaba y nos deshicimos del problema.'
		},
		{
			src: 'img/review_urotrin_14.png',
			name: 'Cecilia Morterero, 29&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Elegí Urotrin para mi padre por su composición y no le decepcionó. No tiene que orinar cada 5 minutos, está más tranquilo e incluso su humor ha mejorado. ¡Gran producto!'
		},
		{
			src: 'img/review_urotrin_15.png',
			name: 'Elisa Luque, 55&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'A veces es difícil para los hombres resolver su problema sin una mujer. Pero quiero a mi marido, llevamos 35 años juntos y compré este remedio para su prostatitis. Después de un mes y medio de tomarlo, su estado se normalizó y el dolor y el ardor desaparecieron. Son buenas cápsulas, las recomiendo.'
		},
		{
			src: 'img/review_urotrin_16.png',
			name: 'Joaquín Gayoso, 57&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: '¡Nunca había tenido algo así! ¡La duración del sexo se duplicó! Y acabo de empezar a tomar estas cápsulas. Sin duda, seguiré el curso completo. ¡O tal vez dos!'
		},
		{
			src: 'img/review_urotrin_17.png',
			name: 'José Illescas, 64&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'No podía aceptar el hecho de que fuera impotente. Probé muchos métodos, pero no hubo resultados. Entonces oí hablar de Urotrin a unos amigos. Decidí probarlo. ¡Ahora vuelvo a ser tan fuerte en la cama como cuando era joven!'
		},
		{
			src: 'img/review_urotrin_18.png',
			name: 'Max Luque, 61&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Sufría problemas inflamatorios de naturaleza masculina, a causa de los cuales mi sistema reproductivo dejaba de funcionar. Después de un curso de Urotrin, todo volvió a ser normal. Me deshice de la inflamación y mi erección regresó. ¡Lo recomiendo!'
		},
		{
			src: 'img/review_urotrin_19.png',
			name: 'Jesús Japón, 70&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'A mis 70 años, pocas personas son capaces de realizar hazañas sexuales en la cama. Tengo sexo con mi esposa casi todas las noches. Está contenta, dice que se siente joven. Gracias Urotrin. Lo recomiendo a todos mis amigos.'
		},
		{
			src: 'img/review_urotrin_20.png',
			name: 'Anthony Pareja, 49&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'A los 47 años, tuve problemas con mi sistema genitourinario debido a un fuerte estrés, lo que naturalmente afectó a mi potencia. Después del curso de Urotrin, la vida se volvió mucho más excitante: tengo una erección durante toda la noche, siento deseo todos los días, ¡y el sexo es fantástico!'
		},
		{
			src: 'img/review_urotrin_21.png',
			name: 'Román Encarnación, 33&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Perder la capacidad de tener sexo a los 33 años es una pesadilla para un hombre. Estuve "impotente" durante un año. Probé diferentes métodos, estimulantes, nada ayudó. Y después de dos cursos de Urotrin, incluso volvió a tener una erección matutina.'
		},
		{
			src: 'img/review_urotrin_22.png',
			name: 'Eustacio Guillén, 46&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Entre todos los estimuladores de la potencia, Urotrin es el único que no ha tenido ningún efecto secundario. ¡Y realmente funciona! Tengo una erección estable y duradera, mi pene está duro como una roca.'
		},
		{
			src: 'img/review_urotrin_23.png',
			name: 'Luz Pareja, 58&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Mi mujer insistió en que empezara a tomar Urotrin. Al principio me negué, pero me di cuenta de que podía perderla por mi problema. Ella y yo volvimos a los días de nuestra juventud. ¡Tenemos sexo todos los días! ¡Ella está feliz, yo estoy satisfecho!'
		},
		{
			src: 'img/review_urotrin_24.png',
			name: 'Fernando Montenegro, 53&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Urotrin me ayudó a recuperar mi antigua vida sexual plena. ¡Me siento como si tuviera 25 años! Tengo suficiente energía para satisfacer a mi mujer toda la noche, ni siquiera está contenta de que sea tan semental, no puede dormir)'
		},
		{
			src: 'img/review_urotrin_25.png',
			name: 'Abraham Zorita, 72&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Terminé el curso de Urotrin hace un par de meses. ¡Tengo energía para toda la noche! Y antes, los expertos no podían decir otra cosa que: "Qué quieres a tu edad"'
		},
		{
			src: 'img/review_urotrin_26.png',
			name: 'Juanita Muñoz, 27&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: '¡Mi nuevo hombre es increíble en la cama! ¡Y esto a pesar de que ya tiene 46 años! Pensé que esto era un regalo de la naturaleza, pero resultó que solo tomaba estas cápsulas. No tengo nada en contra, he tenido orgasmos como nunca he tenido con ningún otro hombre.'
		},
		{
			src: 'img/review_urotrin_27.png',
			name: 'María Fernanda, 43&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Compré Urotrin para mi marido. ¡Ahora no puedo esperar a que los niños estén dormidos para tener sexo con él! Gracias a estas cápsulas, por fin sé lo que es el "verdadero sexo de calidad". Lo recomiendo.'
		},
		{
			src: 'img/review_urotrin_28.png',
			name: 'Lía Navarro, 39&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Casada por segunda vez, realmente quería un bebé con mi marido. Pero es 16 años mayor que yo. Sus órganos reproductores no funcionaban bien. Como resultado, después de 2 cursos de Urotrin, ¡me quedé embarazada enseguida! Ahora mi marido no tiene problemas de potencia. ¡Es un remedio increíble!'
		},
		{
			src: 'img/review_urotrin_29.png',
			name: 'Noé Magrina, 49&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: 'Mi marido tenía serios problemas de potencia. La vida íntima se acabó para nosotros. Acudió a expertos, tomó diferentes remedios. Nada funcionó. Pensé que tendría que vivir así toda mi vida, pero encontré Urotrin en Internet. ¡Este remedio devolvió el sexo a nuestras vidas!'
		},
		{
			src: 'img/review_urotrin_30.png',
			name: 'Antonella Hurtado, 51&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;UROTRIN',
			text: '¡Hombres! Comprad estas cápsulas inmediatamente y os olvidaréis de los problemas en la cama. Después de que mi marido tomara un curso de Urotrin, nunca ha tenido una erección débil. Incluso cuando era joven, no recuerdo que su pene estuviera tan duro. ¡Un remedio increíble!'
		},
	];