-
	const reviewsDialine = [
		{
			src: 'img/review_dialine_1.png',
			name: 'Delfina Sarmiento, 56&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Tengo diabetes desde hace 10 años y realmente siento si el remedio es o no adecuada para mí. A veces hay efectos secundarios: náuseas, mareos, reacciones alérgicas. Dialine es adecuado para mí. Es excelente para bajar el azúcar y no causa ninguna reacción adversa.'
		},
		{
			src: 'img/review_dialine_2.png',
			name: 'Nora Reyes, 37&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Después de tomar Dialine mi nivel de azúcar no sube a límites críticos, me siento mucho mejor, no tengo que ir al baño 10 veces por la noche.'
		},
		{
			src: 'img/review_dialine_3.png',
			name: 'Brisa Aparicio, 62&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Llevo 7 años tomando metformina. En los últimos tiempos es peor, el azúcar sube bruscamente, me aterroriza un coma hipoglucémico. El experto recomendó toma dos cursos de Dialine. Lo tomé, el nivel de azúcar se normalizó y ya no veo picos de azúcar.'
		},
		{
			src: 'img/review_dialine_4.png',
			name: 'Valentina Aguayo, 58&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Llevo un mes tomando Dialine por la mañana. Al principio pensé que no me ayudaba. Pero al cabo de un tiempo, sentí una agradable sensación de cambio: no había mareos, el nivel de glucosa en sangre se normalizó y había menos ganas de ir al baño. Es un buen remedio.'
		},
		{
			src: 'img/review_dialine_5.png',
			name: 'Alba Pliego, 45&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Mi madre tiene diabetes insulinodependiente, además de obesidad. Intentamos cuidar su dieta, pero le gusta comer, así que es un gran problema para ella. Una vecina con el mismo diagnóstico me recomendó Dialine. Después de tomar las cápsulas, el azúcar ha dejado de subir y se mantiene en 5-7 mmol/l. Y esto a pesar de que mi madre se permite a veces comer pasteles y frutas dulces.'
		},
		{
			src: 'img/review_dialine_6.png',
			name: 'Guadalupe Cortés, 55&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Mi nivel de azúcar "normal", en el que me siento bien, es de 7-8 mmol/l. Pero el experto dijo que incluso este nivel de azúcar puede causar consecuencias peligrosas si no se baja. De todos los remedios que he probado, Dialine es el mejor. Las cápsulas hacen un trabajo excelente, mi glucómetro ahora siempre muestra las cifras en niveles normales.'
		},
		{
			src: 'img/review_dialine_7.png',
			name: 'Isabella Leoz, 53&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Mi padre tenía diabetes de tipo 1 y sufrió mucho a lo largo de los años. Con el tiempo, a la edad de 72 años, perdió la visión y el pie derecho por gangrena. Da mucho miedo. Sé que la diabetes es hereditaria, así que decidí tomar algo para prevenirla. Elegí Dialine, que me recomendó una clínica privada. ¡Salud para todos!'
		},
		{
			src: 'img/review_dialine_8.png',
			name: 'Linda Agramonte, 44&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Este producto tiene una composición excelente de canela, aloe vera y moringa. Todos estos ingredientes naturales actúan en combinación entre sí y pueden recuperar el sistema endocrino. Lo tomé y quedé satisfecha, ¡me ayudó!'
		},
		{
			src: 'img/review_dialine_9.png',
			name: 'Margarita Aguayo, 52&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Estoy muy cansada de vivir como una diabética. Siempre me han gustado los pasteles. Yo misma soy pastelera y es muy difícil hacer pasteles de lujo todos los días y no poder comer ni un bocado. Pero ahora que he empezado a tomar Dialine, a veces puedo permitirme comer un merengue o una tarta de queso. Y el nivel de azúcar se mantiene normal)'
		},
		{
			src: 'img/review_dialine_10.png',
			name: 'Penélope Rasgado, 64&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Mi hermana y yo tenemos diabetes de tipo 2. No comemos ningún producto prohibido y seguimos la dieta. Pero a veces el azúcar sube. Decidimos buscar un remedio para la diabetes y encontramos Dialine. Lo pedimos, lo tomamos y quedamos muy contentas con el resultado. Las cápsulas funcionan muy bien. Así que, lo recomendamos mucho.'
		},
		{
			src: 'img/review_dialine_11.png',
			name: 'Mateo Elvira, 49&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Me diagnosticaron diabetes hace un mes. Me entró el pánico y empecé a buscar el mejor remedio y elegí Dialine. Mido el nivel de azúcar todos los días. Después de un curso de toma del remedio, el azúcar es siempre normal.'
		},
		{
			src: 'img/review_dialine_12.png',
			name: 'Ernesto Espiga, 58&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Mi esposa trajo estas cápsulas de Alemania. Me dijo que todos los diabéticos toman Dialine y se sienten bien. Yo también lo tomé. El resultado: un nivel de azúcar estable durante seis meses.'
		},
		{
			src: 'img/review_dialine_13.png',
			name: 'Aaron Berganza, 48&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Mis viajes nocturnos al baño despertaron a toda la familia. Tampoco podía dormir bien debido a mi constante necesidad de orinar. La vida era una miseria. Siguiendo el consejo de un experto, tomé 2 cursos de Dialine y después de la primera semana de tomarlo, ¡comencé a dormir toda la noche! Esto es un milagro, no un remedio. Mis mejores recomendaciones.'
		},
		{
			src: 'img/review_dialine_14.png',
			name: 'Christian Gilabert',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Tengo insuficiencia renal y no todos los remedios me sirven. Dialine es de origen vegetal y me va perfectamente. Baja el azúcar y normaliza el sistema endocrino. Me gusta.'
		},
		{
			src: 'img/review_dialine_15.png',
			name: 'Miguel Ángel Tafalla',
			desc: '<span>expresó</span> su upinión sobre&nbsp;DIALINE',
			text: 'Después de descubrir que tenía diabetes, tuve que cambiar mi estilo de vida. Sin embargo, no fue fácil. Hasta ahora no he llegado a la insulina, tomo metformina para bajar el azúcar. Pero esto tiene muchos efectos secundarios, así que mi experto me ha aconsejado que tome un curso de Dialine para apoyar a mi cuerpo. Me siento mucho mejor. Tengo más energía, duermo mejor y mi azúcar es normal.'
		},
	];