-
	const reviewsNormaten = [
		{
			src: 'img/review_normaten_1.png',
			name: 'Isabela Escribano, 65&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Tomé solo un envase de Normaten y fue como volver a nacer. Han desaparecido los dolores de cabeza y los parpadeos delante de mis ojos. La presión arterial es de 125-140, pero antes llegaba a 180. ¡Grandes cápsulas!'
		},
		{
			src: 'img/review_normaten_2.png',
			name: 'Marta Chicote, 74&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'A mi edad es difícil tener una presión arterial estable, pero la tengo gracias a Normaten y a los buenos hábitos de alimentación. Las cápsulas son fáciles de tragar y tomo 3 con el desayuno.'
		},
		{
			src: 'img/review_normaten_3.png',
			name: 'Covadonga Costa, 59&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Desde que tomo Normaten, mi tensiómetro está solo en el cajón de mi escritorio. ¡Me siento muy bien!'
		},
		{
			src: 'img/review_normaten_4.png',
			name: 'Engracia Abasto, 69&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Mi experto, que está cansado de recomendarme diferentes remedios porque nada me ha funcionado, quedó simplemente sorprendido por el efecto de las cápsulas Normaten. Todos los síntomas de la hipertensión han desaparecido y me siento sana y alerta.'
		},
		{
			src: 'img/review_normaten_5.png',
			name: 'Lola Alemán, 67&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Tengo taquicardia y a menudo el corazón se me salía del pecho después de tomar la medicación para la presión arterial. Pero esto no ocurre con Normaten. El único producto que normaliza la presión arterial sin efectos secundarios.'
		},
		{
			src: 'img/review_normaten_6.png',
			name: 'Natalie Sainz, 56&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: '¡Qué composición tan sorprendente! ¡Es un regalo del cielo para todos los hipertensos! Algas, ácido fólico, ajo, vitaminas. Conocí Normaten hace un año, por consejo de un amigo. Ahora ya no me preocupan los picos de presión ni los dolores de cabeza. ¡Las cápsulas realmente funcionan!'
		},
		{
			src: 'img/review_normaten_7.png',
			name: 'Montserrat Espiga, 61&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Además de normalizar la presión arterial, Normaten restablece el nivel de colesterol, lo que es muy importante para prevenir la trombosis y mejora la función cardiovascular. Es un remedio milagroso, el mejor hasta la fecha.'
		},
		{
			src: 'img/review_normaten_8.png',
			name: 'Angela Gutiérrez, 33&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Compramos Normaten para mi suegra, que sufre de hipertensión. Se siente mucho mejor. No hay sensación de presión en las sienes, ni dolor de cabeza. Es un remedio eficaz.'
		},
		{
			src: 'img/review_normaten_9.png',
			name: 'Victoria Espinar, 64&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Estas cápsulas pueden mejorar todo el cuerpo, no solo los picos de presión arterial. Después de dos cursos, los dolores de corazón y de cabeza desaparecieron. Mi vista se ha vuelto más clara y tengo mucha energía.'
		},
		{
			src: 'img/review_normaten_10.png',
			name: 'Alina Pomar, 50&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Me recomendó Normaten mi experto. Es un muy buen especialista y confío en él. Después de la primera semana, los picos de presión arterial desaparecieron por completo. Sí, la presión arterial puede ser un poco más alta de lo habitual, pero se está estabilizando poco a poco y me siento mucho mejor.'
		},
		{
			src: 'img/review_normaten_11.png',
			name: 'Leonardo Pliego, 67&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Mi mujer me hizo tomar cápsulas, estaba muy preocupada por mí. Mi último ataque de hipertensión estuvo a punto de provocarme un derrame cerebral, me llevaron a una clínica y me atendieron durante dos semanas. La situación mejoró, pero no por mucho tiempo. Después de tomar Normaten, mi presión arterial es siempre normal, ¡no puedo creerlo!'
		},
		{
			src: 'img/review_normaten_12.png',
			name: 'Dylan Andrade, 70&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Además de la hipertensión, también tengo problemas vasculares. Un experto me ha recomendado muchos remedios diferentes, que solo me han ayudado parcialmente y por poco tiempo. Entiendo que es difícil sentirse de 20 años a mi edad. Pero después de dos cursos de Normaten, recuperé mis 20 años de vida. He rejuvenecido tanto el cuerpo como el alma. ¡Estas son las cápsulas mágicas!'
		},
		{
			src: 'img/review_normaten_13.png',
			name: 'Juan Andrés Illescas, 47&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'He comprado Normaten para mi madre porque en los últimos tiempos no se ha sentido bien. Después de tomar el primer plato, me ha llamado con voz alegre y me ha dicho: "Hijo, estás invitado a cenar, por fin tengo fuerza y energía, gracias a tus cápsulas". Así que las cápsulas funcionan, ahora tengo tranquilidad sobre la salud de mi madre.'
		},
		{
			src: 'img/review_normaten_14.png',
			name: 'Edmundo Aguinaldo, 68&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: 'Tuve un mini accidente cerebrovascular hace 1,5 años y desde entonces tengo mucho cuidado con los picos de presión arterial, tratando de evitarlos. Por desgracia, mis remedios habituales parecen haberse vuelto adictivos y ya no me han ayudado. Decidí optar por Normaten y no me he arrepentido ni un solo día. El producto hace su trabajo de forma rápida y eficaz.'
		},
		{
			src: 'img/review_normaten_15.png',
			name: 'Francisco Ocampo, 56&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;NORMATEN',
			text: '¡Las cápsulas salvaron a mi mujer! Su hipertensión le impedía vivir bien y me resultaba doloroso verla sufrir. Probó muchos remedios diferentes y el efecto no fue a largo plazo. Con Normaten la situación es diferente. Ayuda rápidamente y normaliza su presión arterial durante mucho tiempo.'
		},
	];