-
	const reviewsBiorecin = [
		{
			src: 'img/review_biorecin_1.png',
			name: 'Ximena Martí, 43&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Me recomendaron usar la crema Biorecin en un salón de belleza. ¡El efecto es maravilloso! Mi piel está limpia, tonificada y no seca. Alisó mis arrugas, eliminó las bolsas bajo los ojos e incluso alisó mi piel. ¡La recomiendo!'
		},
		{
			src: 'img/review_biorecin_2.png',
			name: 'Alexia Hurtado, 50&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Llevo tres meses usando la crema Biorecin todos los días. Mi piel ha mejorado, los poros están limpios, las pequeñas irritaciones han desaparecido y los puntos negros son mucho menores. No puedo estar más feliz.'
		},
		{
			src: 'img/review_biorecin_3.png',
			name: 'Melina Saavedra, 37&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Esta es una gran crema con un olor divino) Por lo general, los productos de base natural no huelen muy bien, pero este es increíble. Funciona al 100% y está muy bien de precio.'
		},
		{
			src: 'img/review_biorecin_4.png',
			name: 'Nazarena Bienvenida, 49&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'A mí personalmente me conquistó la composición, los extractos naturales inspiran confianza. Me sorprendió gratamente el efecto: las arrugas se hicieron más pequeñas, mi cutis se igualó, la hinchazón desapareció. ¡Sin duda lo recomiendo!'
		},
		{
			src: 'img/review_biorecin_5.png',
			name: 'Yvonne Molina, 46&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Trabajo en un salón de belleza y a menudo recomiendo la crema Biorecin a los clientes. Tiene ingredientes activos seleccionados por profesionales que pueden regenerar las células de la piel y restaurar el contorno facial. Yo misma la uso y estoy muy contenta con el resultado.'
		},
		{
			src: 'img/review_biorecin_6.png',
			name: 'Marta Elvira, 38&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Me sorprende que una crema con tal espectro de acción sea tan barata. Su eficacia no es inferior a la de las costosas cremas profesionales. La he comprobado personalmente.'
		},
		{
			src: 'img/review_biorecin_7.png',
			name: 'Frida López, 41&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Pude ver el efecto después del primer uso. ¡Mi piel se sentía como la seda! Incluso los poros más profundos se cerraron, los granos y los puntos negros desaparecieron. ¡Biorecin me hizo parecer 5 años más joven! ¡Definitivamente vale la pena comprarlo!'
		},
		{
			src: 'img/review_biorecin_8.png',
			name: 'Araceli Chicote, 55&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Mi hija me regaló Biorecin. Antes no utilizaba cremas y realmente me arrepiento. Pero con esta crema, puedo volver a parecer joven, a pesar de mi edad actual.'
		},
		{
			src: 'img/review_biorecin_9.png',
			name: 'Natalia Nores, 46&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Es una crema excelente, matiza un poco la piel, nutre bien los poros y no provoca irritaciones. Hace mucho tiempo que la uso. Después de cada aplicación el efecto es visible.'
		},
		{
			src: 'img/review_biorecin_10.png',
			name: 'Juana Arias, 51&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: '¡Biorecin me abrió los ojos! No podía creer que una crema a base de extractos pudiera recuperar la piel de forma tan profunda y completa. Pero ahora creo en el poder de los "ingredientes naturales". ¡La recomiendo mucho!'
		},
		{
			src: 'img/review_biorecin_11.png',
			name: 'María Fernanda Miralles, 63&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Un gran remedio por poco dinero. El extracto de caracol hace que la piel sea firme, tersa y sedosa. La crema da frescura y rejuvenece bien. ¡Me encanta la textura y puedo ver los resultados!'
		},
		{
			src: 'img/review_biorecin_12.png',
			name: 'Rubi Guillén, 47&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Puedo decir con confianza que la crema Biorecin es incluso más eficaz que muchos productos de cuidado caros. ¡He probado muchas cremas y sueros diferentes, pero nunca esperé un resultado así!'
		},
		{
			src: 'img/review_biorecin_13.png',
			name: 'Sofía De La Cruz, 44&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'La primera vez que probé esta crema fue gracias a una amiga. A ella le gustó mucho, así que pensé que debía pedir algo para mí. Llevo dos meses usándolo y no puedo estar más satisfecha, todo en ella es perfecto: ¡el olor, el efecto, la textura!'
		},
		{
			src: 'img/review_biorecin_14.png',
			name: 'Evangelina Dengra, 42&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Es estupendo que Biorecin sea adecuado para diferentes edades, yo lo uso con mi familia: yo, mi hermana y mi madre. Resulta sorprendente que convenga a todas, aunque tengamos distintos tipos de piel. Nutre e hidrata bien, no encoge la piel, alisa las arrugas y es barato.'
		},
		{
			src: 'img/review_biorecin_15.png',
			name: 'Delfina Morterero, 65&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;BIORECIN',
			text: 'Llevo mucho tiempo buscando una crema con extracto de caracol. Y solo en la crema Biorecin encontré la combinación perfecta de ingredientes. La crema regenera la piel del rostro y del escote, hidrata y restaura los contornos.'
		},
	];