-
	const reviewsOtovix = [
		{
			src: 'img/review_otovix_1.png',
			name: 'Eva Sáenz, 43&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Tomé Otovix durante 2 semanas y la audición ha mejorado mucho. Se acabaron los acúfenos e incluso los dolores de cabeza. Estoy muy contenta con este producto, posee todos los efectos que dice tener.'
		},
		{
			src: 'img/review_otovix_2.png',
			name: 'Luisa Arrabal, 55&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Una amiga me aconsejó estas cápsulas y tomé dos cursos, el primero durante un mes y el siguiente un mes después. Mi audición se ha recuperado en un 80%. Otovix es muy eficaz, ahora lo recomiendo a los demás.'
		},
		{
			src: 'img/review_otovix_3.png',
			name: 'Natalie Franco, 30&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Compré Otovix para mi madre, ya que ella lleva audífonos y tenía el siguiente problema: frecuentes zumbidos en los oídos, que ejercían mucha carga sobre el sistema nervioso y el audífono. Después de 2 cursos, el zumbido ha desaparecido y ya no aparece. ¡Un producto maravilloso!'
		},
		{
			src: 'img/review_otovix_4.png',
			name: 'Laura Montenegro, 47&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Tengo este problema desde que tengo 40 años, después de que tuve un accidente y el tímpano fue dañado. No soy vieja, pero era embarazoso tener que preguntar a la gente tres veces: "¿Qué has dicho?". Otovix me ayudó después del primer curso, podía oír mucho mejor, el zumbido en los oídos desapareció.'
		},
		{
			src: 'img/review_otovix_5.png',
			name: 'Ximena Alarcón, 63&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Me diagnosticaron una pérdida auditiva neurosensorial y me recetaron muchos remedios diferentes. Tomé todo lo que se me recetó, pero no noté ninguna mejora significativa. Entonces encontré por casualidad en Internet reseñas sobre Otovix y decidí probarlo. Como resultado, se redujeron los síntomas y mejoró la audición de forma constante. ¡Estoy muy contenta!'
		},
		{
			src: 'img/review_otovix_6.png',
			name: 'Angela Encarnación, 56&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'No podía dormir por la noche, el tinnitus constante no me dejaba vivir. Me puse nerviosa e irritable, hasta que tomé un curso de cápsulas Otovix. Ahora ya no tengo tinnitus, duermo bien y no puedo dejar de agradecer al fabricante. ¡Gracias!'
		},
		{
			src: 'img/review_otovix_7.png',
			name: 'Talía Yepes, 51&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Mi historial de problemas auditivos comenzó hace unos 10 años. Primero una otitis media frecuente, luego una pérdida de audición gradual. Me sacaron las bolas de cera en la clínica con regularidad, pero solo escuché mejor durante la primera semana después del procedimiento. Entonces volví a escuchar mal. ¡Mi marido me compró cápsulas Otovix y me devolvieron la audición! ¡Me encanta!'
		},
		{
			src: 'img/review_otovix_8.png',
			name: 'Monserrat Carita, 39&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Hasta hace poco no creía que una composición de hierbas pudiera devolverme la audición. Pero sigo un estilo de vida saludable y, por tanto, no me gusta nada de lo químico. Compré Otovix por sus buenos ingredientes naturales. ¡Pero resultó hacer un gran trabajo!'
		},
		{
			src: 'img/review_otovix_9.png',
			name: 'Agustina Moruga, 29&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Pedí Otovix para mi abuela, todavía está muy viva, pero su audición se volvió muy mala. Me pidió que eligiera algo con vitaminas para fortalecer el cuerpo y mejorar la audición. Este producto contiene muchas vitaminas, betacaroteno, ácido fólico y zinc. Quizá también lo tomaré para prevenir, ¡le ayudó mucho a mi abuela!'
		},
		{
			src: 'img/review_otovix_10.png',
			name: 'Inmaculada García, 54&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Mis amigas me regalaron Otovix, me dijeron que siempre me preguntaba de nuevo y que era mejor tomar este remedio natural para prevenir. No tenía ni idea de que tenía un problema de audición. Porque después de dos semanas de tomar las cápsulas, empecé a oír con más claridad que nunca. ¡Gracias, chicas!'
		},
		{
			src: 'img/review_otovix_11.png',
			name: 'Carmelo Molina, 45&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Pedí Otovix para mi madre, llegó rápidamente, fue muy bueno, mi madre oye mucho mejor.'
		},
		{
			src: 'img/review_otovix_12.png',
			name: 'Lucho Carita, 62&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Tomé esta cápsula por la mañana: 3 cápsulas con el desayuno. Al principio no vi muchos cambios, pero después de un curso, pude oír mejor y el acúfeno desapareció.'
		},
		{
			src: 'img/review_otovix_13.png',
			name: 'Abram Cabal, 54&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Mi mujer me compró este remedio porque es experta en farmacia y me dijo que es el mejor que hay en este momento. Tomé 3 envases (el tercero fue para consolidar el resultado, porque mi audición mejoró mucho después del segundo envase). El remedio realmente funciona, lo recomiendo.'
		},
		{
			src: 'img/review_otovix_14.png',
			name: 'Felipe Carvallo, 67&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'La edad es algo que da miedo. Tienes problemas con las articulaciones, los vasos sanguíneos o la audición. Es bueno que haya productos que nos devuelvan la juventud. Otovix me devolvió la audición, incluso me compré un audífono. ¡Pero no fue útil!'
		},
		{
			src: 'img/review_otovix_15.png',
			name: 'Juan Andrés Luque, 69&nbsp;años',
			desc: '<span>expresó</span> su upinión sobre&nbsp;OTOVIX',
			text: 'Ahora mis vecinos no tienen que escuchar mis programas de televisión. Solía tener que poner el volumen casi al máximo, de lo contrario no podía oír lo que decían. Después de un mes de uso regular de Otovix, oigo mucho mejor y el sonido de la televisión está ahora a un nivel adecuado.'
		},
	];