include ../../mixins/product
-
	const products = [
		{
			label: 'ÉXITO',
			srcPhoto: 'img/biorecin.png',
			name: 'BIORECIN',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 reseñas',
			desc: 'Las cápsulas antienvejecimiento para nutrir y regenerar las células de la piel',
			link: 'biorecin.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/lipocarnit.png',
			name: 'LIPOCARNIT',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 reseñas',
			desc: 'El complejo de vitaminas y extractos para la activación del metabolismo y la pérdida de peso',
			link: 'lipocarnit.html'
		},
		{
			label: 'ÉXITO',
			srcPhoto: 'img/normaten.png',
			name: 'Normaten',
			stars: [
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star.svg',
					type: 'full'
				},
				{
					src: 'img/svg/star-black.svg',
					type: 'empty'
				}
			],
			text: '231 reseñas',
			desc: 'El remedio para la normalización de la presión arterial y el apoyo al sistema cardiovascular',
			link: 'normaten.html'
		},
	];


section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") INICIO
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Catálogo
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Para la salud
			span.breadcrumbs__line /
			span.breadcrumbs__main Wortex
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item.slider-prod__nav-item--main-photo
						img(src="img/wortex.png", alt="Wortex")
					.slider-prod__nav-item
						img(src="img/wortex_1.jpg", alt="Wortex")
					.slider-prod__nav-item
						img(src="img/wortex_2.jpg", alt="Wortex")
					.slider-prod__nav-item
						img(src="img/wortex_3.jpg", alt="Wortex")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item.slider-prod__for-item--main-photo
						img(src="img/wortex.png", alt="Wortex")
					.slider-prod__for-item
						img(src="img/wortex_1.jpg", alt="Wortex")
					.slider-prod__for-item
						img(src="img/wortex_2.jpg", alt="Wortex")
					.slider-prod__for-item
						.youtube(data-embed="t17D3vPSaRo")
							.play
			.product-item__info
				h2.product-item__name Wortex
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-black.svg", alt="")
					p.product-item__rating-text 212 reseñas
				ul.product-item__list.product-list
					li.product-list__item Esfera: Parásitos
					li.product-list__item Forma: Cápsulas
					li.product-list__item Volumen: 21 pzs.
				a.product-item__btn.button(href="order.html?id=wortex") Pedir
				p.product-item__text Las cápsulas para la limpieza segura del cuerpo de parásitos y la recuperación de las funciones del sistema digestivo
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Descripción
							i.fico.fico-cross
						p.specification__text.js-info-accordeon El complejo de ingredientes herbales para normalizar el estado del organismo, eliminar diferentes tipos de parásitos, purificar el hígado y servir de fórmula de desintoxicación, ayudar a regular el sistema gastrointestinal, mejorar la inmunidad.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Composición
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Ajo blanco en polvo (Allium neapolitanum), semilla de calabaza en polvo (Cucurbita moschata), gelatina (de cápsula), maltodextrina de maíz, granada en polvo (Punica granatum L.), zumo de coco en polvo (Cocos nucifera L.), limón en polvo (Citrus × lemon), estearato de magnesio, pimienta negra en polvo (Piper nigrum), dióxido de silicio amorfo.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Uso
							i.fico.fico-cross
						p.specification__text.js-info-accordeon 3 cápsulas con el desayuno. No debe superarse la dosis (3 cápsulas).
							br
							| Limitaciones: niños menores de 8 años.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Información adicional
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item Fabricante: Laboratorio Internacional Pharmacorp SBO S.A. Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								//- li.product-list__item Дата регистрации: 10.04.2020
								//- li.product-list__item.mb Номер сертификата ЕАС: ЕАЭС N RU Д-RU.ПX01.В.12864/20
								li.product-list__item.mb Fecha de caducidad: 18 meses
								li.product-list__item Condiciones de almacenamiento: almacenar entre 0°C y 25°C, lejos de la luz solar directa y de la humedad.
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Reseñas
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Ермоленко Влада
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-black.svg", alt="")
											p.review-small__rating-text Отличное качество!
									img.review-small__photo(src="img/review_argosev_bio_1.png", alt="")
								p.review-small__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dignissimos distinctio dolores eum impedit laudantium nam officia quaerat quam quasi quod recusandae similique sunt temporibus vel. Molestiae quidem totam ullam?
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Ермоленко Влада
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star-black.svg", alt="")
											p.review-small__rating-text Отличное качество!
									img.review-small__photo(src="img/review_argosev_bio_1.png", alt="")
								p.review-small__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dignissimos distinctio dolores eum impedit laudantium nam officia quaerat quam quasi quod recusandae similique sunt temporibus vel. Molestiae quidem totam ullam?
							.product-item__review.review-small
								.review-small__top
									.review-small__desc
										p.review-small__name Ермоленко Влада
										.review-small__rating
											.review-small__rating-stars
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
												img.review-small__rating-star(src="img/svg/star.svg", alt="")
											p.review-small__rating-text Отличное качество!
									img.review-small__photo(src="img/review_argosev_bio_1.png", alt="")
								p.review-small__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dignissimos distinctio dolores eum impedit laudantium nam officia quaerat quam quasi quod recusandae similique sunt temporibus vel. Molestiae quidem totam ullam?
					.specification.specification--recomm
						.specification__top
							h3.specification__ttl Compran con este producto
						.specification__text
							.specification__products
								each product in products
									+product(product)