section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=man") Для мужчин
			span.breadcrumbs__line /
			span.breadcrumbs__main Wortex
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/wortex.png", alt="Wortex")
					.slider-prod__nav-item
						img(src="img/wortex.png", alt="Wortex")
					.slider-prod__nav-item
						img(src="img/wortex.png", alt="Wortex")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/wortex.png", alt="Wortex")
					.slider-prod__for-item
						img(src="img/wortex.png", alt="Wortex")
					.slider-prod__for-item
						img(src="img/wortex.png", alt="Wortex")
			.product-item__info
				h2.product-item__name Wortex
				//p.product-item__desc
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 212 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Паразиты
					li.product-list__item
						span Форм-фактор: 
						| капсулы
					li.product-list__item
						span Форма выпуска:
						| Банка, капсулы, 21 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Капсулы для безопасного очищения организма от паразитов и восстановления функций системы пищеварения
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Комплекс растительных компонентов для нормализации состояния организма, избавление от различных видов паразитов, очищает печень и выступает как детокс-формула, способствует регуляции работы ЖКТ, повышению иммунитета
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Порошок белого чеснока (Allium neapolitanum), порошок семян тыквы (Cucurbita moschata), желатин (из капсулы), кукурузный мальтодекстрин, порошок граната (Punica granatum L.), порошок кокосового сока (Cocos nucifera L.), порошок лимона (Citrus × лимон), стеарат магния, порошок черного перца (Piper nigrum), аморфный диоксид кремния
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Принимать 1 капсуле 3 раза в день. Максимальная суточная доза - 3 капсулы
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Противопоказания
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Индивидуальная непереносимость компонентов, беременность
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Laboratorio Intl. Pharmacorp SBO S.A.
									| Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana - Chile
								//li.product-list__item
								//	span Дата регистрации:
								//	| 15.09.2020
								//li.product-list__item.mb
								//	span Декларация о соответствии ЕАС:
								//	br
								//	| ЕАЭС KG417/01.06.Д.0015492
								li.product-list__item.mb
									span Срок годности: 
									| 18 месяцев
								li.product-list__item
									span Условия хранения: 
									| Хранить при температуре от 0°С до 25°С , вдали от прямых солнечных лучей и влаги
