section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Здоровье
			span.breadcrumbs__line /
			span.breadcrumbs__main Hondrexil
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/hondrexil.png", alt="Hondrexil")
					.slider-prod__nav-item
						img(src="img/hondrexil.png", alt="Hondrexil")
					.slider-prod__nav-item
						img(src="img/hondrexil.png", alt="Hondrexil")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/hondrexil.png", alt="Hondrexil")
					.slider-prod__for-item
						img(src="img/hondrexil.png", alt="Hondrexil")
					.slider-prod__for-item
						img(src="img/hondrexil.png", alt="Hondrexil")
			.product-item__info
				h2.product-item__name Hondrexil
				//p.product-item__desc
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-2.svg", alt="")
					p.product-item__rating-text 232 отзыва
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Суставы
					li.product-list__item
						span Форм-фактор: 
						| Капсулы
					li.product-list__item
						span Форма выпуска:
						| Банка, капсулы, 21 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Капсулы для устранения разных типов боли и воспалений в суставах
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Пищевая добавка с растительными ингредиентами для нормализации работы опорно-двигательной системы. Растительные компоненты влияют  на снижение боли и подвижность суставов
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon гидролизованный коллаген, желатин (из капсулы), цитрат магния, порошок куркумы (Curcuma longa), порошок хвоща полевого (Equisetum arvense), аскорбиновая кислота (витамин C), кукурузный мальтодекстрин, рыбий жир в порошке (порошок Омега 3), стеарат магния, dl-альфа-токоферола ацетат (вит. E), аморфный диоксид кремния
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon 3 капсулы во время завтрака. Нельзя превышать дозу (3 капсулы)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Противопоказания
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Индивидуальная непереносимость компонентов. Не употреблять в период беременности и грудного вскармливания
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| SOCIEDAD COMERCIAL Y DE ASESORIAS UNITRADE SpA
								//li.product-list__item
								//	span Дата регистрации:
								//	| 07.11.2019
								//li.product-list__item.mb
								//	span Сертификат Государственной Регистрации:
								//	br
								//	| RU.77.99.11.003.E.004036.11.19
								li.product-list__item.mb
									span Срок годности: 
									| 18 месяцев
								li.product-list__item
									span Условия хранения: 
									| хранить в сухом, недоступном для детей месте, при температуре не выше +25°С и  относительной влажности 60%