section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Здоровье
			span.breadcrumbs__line /
			span.breadcrumbs__main Normaten
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/normaten.png", alt="Normaten")
					.slider-prod__nav-item
						img(src="img/normaten.png", alt="Normaten")
					.slider-prod__nav-item
						img(src="img/normaten.png", alt="Normaten")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/normaten.png", alt="Normaten")
					.slider-prod__for-item
						img(src="img/normaten.png", alt="Normaten")
					.slider-prod__for-item
						img(src="img/normaten.png", alt="Normaten")
			.product-item__info
				h2.product-item__name Normaten
				//p.product-item__desc
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
					p.product-item__rating-text 219 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Гипертония
					li.product-list__item
						span Форм-фактор: 
						| Капсулы
					li.product-list__item
						span Форма выпуска:
						| Банка, капсулы, 21 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Средство для нормализации давления и поддержки работы сердечно-сосудистой системы
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Капсулы при гипертонии, содержат растительные компоненты и витамины которые помогают нормализовать уровень артериального давления, уровень холестерина и работу сердечно-сосудистой системы
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Цитрат магния, желатин (из капсулы), кукурузный мальтодекстрин, порошок белого чеснока (Allium neapolitanum), порошок морских водорослей (Ficus sp), стеарат магния, DL-альфа-токоферола ацетат (вит. E), ниацинамид ( Витамин B3), гидрохлорид пиридоксина (витамин B6), фолиевая кислота (витамин B9), цианокобаламин (витамин B12)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Рекомендуется принимать 3 капсулы NORMATEN во время завтрака. Максимальное суточное потребление: 1 порция (не более 3 капсул в день)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Противопоказания
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Не рекомендуется употреблять детям до 8 лет, беременным женщинам и кормящим женщинам без указания компетентного специалиста и не заменяет сбалансированную диету

					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Laboratorio Internacional Pharmacorp SBO S.A.
									| Volcán Lascar Poniente 784, Pudahuel, Región Metropolitana – Chile
								//li.product-list__item
								//	span Дата регистрации:
								//	| 10.04.2020
								//li.product-list__item.mb
								//	span Декларация о соответствии ЕАС:
								//	br
								//	| ЕАЭС N RU Д-RU.ПХ01.B.12864/20
								li.product-list__item.mb
									span Срок годности: 
									| 18 месяцев
								li.product-list__item
									span Условия хранения: 
									| Хранить в прохладном (≤25 ° C) и сухом (≤60% RH) месте с закрытой крышкой
