section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/") Главная
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html") Каталог
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health") Здоровье
			span.breadcrumbs__line /
			span.breadcrumbs__main Lipocarnit
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/lipocarnit.png", alt="Lipocarnit")
					.slider-prod__nav-item
						img(src="img/lipocarnit.png", alt="Lipocarnit")
					.slider-prod__nav-item
						img(src="img/lipocarnit.png", alt="Lipocarnit")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/lipocarnit.png", alt="Lipocarnit")
					.slider-prod__for-item
						img(src="img/lipocarnit.png", alt="Lipocarnit")
					.slider-prod__for-item
						img(src="img/lipocarnit.png", alt="Lipocarnit")
			.product-item__info
				h2.product-item__name Lipocarnit
				p.product-item__desc 
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty-3.svg", alt="")
					p.product-item__rating-text 225 отзывов
				ul.product-item__list.product-list
					li.product-list__item
						span Направление: 
						| Похудение
					li.product-list__item
						span Форм-фактор: 
						| капсулы
					li.product-list__item
						span Форма выпуска:
						| Банка, капсулы, 21 шт
				button.product-item__btn.button.button--green Заказать
				p.product-item__text Комплекс витаминов и экстрактов для активизации обменных процессов и снижения веса
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Описание
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Капсулы для похудения, содержат растительные компоненты и витамины которые помогают нормализовать обмен веществ, улучшить метаболизм жиров, отрегулировать пищеварение и аппетит
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Состав
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Битартрат холина, желатин (из капсулы), порошок белой фасоли (Phaseolus vulgaris), инулин, кукурузный мальтодекстрин, порошок годжи (Lycium barbarum L.), стеарат магния, пантотенат кальция (вит. B5), ниацинамид (Вит. B3), пиридоксина гидрохлорид (Вит. B6), мононитрат тиамина (Вит. B1), рибофлавин (Вит. B2), фолиевая кислота (Вит. B9), цианокобаламин (Вит. B12)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Применение
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Рекомендуется принимать 3 капсулы во время завтрака. Максимальное суточное потребление: 1 порция (не более 3 капсул в день)
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Противопоказания
							i.fico.fico-cross
						p.specification__text.js-info-accordeon Не рекомендуется употреблять детям до 8 лет, беременным женщинам и кормящим женщинам без указания компетентного специалиста и не заменяет сбалансированную диету
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl Доп. информация
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									span Производитель: 
									| Сашера - мед
								//li.product-list__item
								//	span Дата регистрации:
								//	| 07.02.2020
								//li.product-list__item.mb
								//	span Декларация о соответствии ЕАС:
								//	br
								//	| ЕАЭС KG417/01.06.Д.0008599
								li.product-list__item.mb
									span Срок годности: 
									| 18 месяцев
								li.product-list__item
									span Условия хранения: 
									| хранить в прохладном (≤25 ° C) и сухом (≤60% RH) месте с закрытой крышкой