include ../mixins/review
include ../data/reviews

-
	let array = reviewsArray.sort(() => Math.random() - 0.5);
	const perChunk = 2;

	const result = array.reduce((resultArray, item, index) => { 
	const chunkIndex = Math.floor(index/perChunk)
	if(!resultArray[chunkIndex]) {
		resultArray[chunkIndex] = []
	}
	resultArray[chunkIndex].push(item)
	return resultArray
	}, []);


.reviews-main
	.container
		.reviews-main__slider.js-slider-reviews-wrap
			.reviews-main__list.js-slider-reviews.swiper-wrapper
				each reviews in result
					.reviews-list.swiper-slide
						each review in reviews
							+review(review)
			.reviews-main__scrollbar.scrollbar.js-slider-reviews-scrollbar