extends templates/layout/layout.pug
block head
	title Vitaliss - INICIO
block content
	include templates/mixins/menu
	+menu("index", "ligth")
	include templates/home/header
	include templates/home/hits
	include templates/home/categories
	include templates/home/faq
	include templates/home/reviews
	include templates/home/about