extends templates/layout/layout-prod.pug
block head
	title Vitaliss - Lipocarnit
block content
	include templates/mixins/menu
	+menu("catalog", "dark")
	include templates/product/lipocarnit/lipocarnit