section.about
	.container
		h2.about__title.title О КОМПАНИИ
		img.about__logo(src="img/svg/logo_big.svg", alt="Vitaliss")
		.about__desc
			p.about__text VITALISS ЭТО ПИЩЕВЫЕ ДОБАВКИ НА ОСНОВЕ НАТУРАЛЬНЫХ ИНГРЕДИЕНТОВ.
			p.about__text Десятки лучших экспертов каждый день разрабатывают продукты для здоровья и красоты тысяч людей. Интеграция даров природы и современных технологий позволяет нам восстановить ваше здоровье. Включив наши продукты в рацион, вы сможете забыть о плохом самочувствии, обрести энергию и долголетие.
