section.about
	.container
		h2.about__title.title Sobre la empresa
		img.about__logo(src="img/svg/logo_big.svg", alt="Vitaliss")
		.about__desc
			p.about__text VITALISS se ocupa de los suplementos nutricionales a base de ingredientes naturales.
			p.about__text Decenas de expertos de primera línea desarrollan cada día productos para la salud y la belleza de miles de personas. La integración de los dones de la naturaleza y la tecnología moderna nos permite devolverle la salud. Al incluir nuestros productos en su dieta, podrá olvidarse del malestar y ganar energía y longevidad.