section.categories
	.container
		h2.categories__title.title Categorías populares
	.container.container--list
		.categories__list
			.category
				.category__front
					picture
						source(srcset="img/category_1.webp", type="image/webp")
						img(src="img/category_1.jpg", alt="")
				.category__back
					h4.category__title Para la belleza
					.category__bottom
						p.category__desc remedios naturales para la belleza y la juventud
						a.category__btn.btn(href="catalog.html?id=beauty") LEER MÁS
			.category
				.category__front
					picture
						source(srcset="img/category_2.webp", type="image/webp")
						img(src="img/category_2.jpg", alt="")
				.category__back
					h4.category__title Para la salud
					.category__bottom
						p.category__desc remedios naturales para apoyar la salud y mejorar la inmunidad
						a.category__btn.btn(href="catalog.html?id=health") LEER MÁS
