- var FAQ = LANG.home.faq;
section.faq
	.container
		h2.faq__title.title!=FAQ.faq_block_title
		.faq__list.js-accordeon
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Сертифицирована ли продукция?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Все наши продукты проходят сертификацию и имеют сертификаты соответствия требованиям
					i ТР ТС 021/2011 "О безопасности пищевой продукции", NH NC 022/2011 "Пищевая продукция в части ее маркировки", ТР ТС 029/2012 "Требования безопасности пищевых добавок, ароматизаторов и Технологических вспомагательных средств".
					|  Коды сертификатов для каждого товара вы можете найти на карточке продукта на нашем сайте.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Как узнать способ применения товара?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Вся информация о способах применения и времени хранения есть на карточках товара, а так же в печатной инструкции, которая находится внутри упаковки.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Какие есть противопоказания для бадов и космецевтики?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Эфективность товаров данной категории проверяется научными исследованиями свойств ингредиентов и клиническими исследованиями готового продукта.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Какое сырье используется для производства данной продукции?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Для БАД и косметики используются только натуральные ингридиенты и экстракты растительного или животного происхождения.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl Как проверяется эффективность бад и косметики? 
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Официальные товары проверены исследованиями действий ингредиентов и клиническими испытаниями 