- var FAQ = LANG.home.faq;
section.faq
	.container
		h2.faq__title.title!=FAQ.faq_block_title
		.faq__list.js-accordeon
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl ¿Están los productos certificados?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Todos nuestros productos se producen en fábricas certificadas. Y se inspeccionan regularmente para comprobar que se cumplen los requisitos de la Administración de Alimentos y Medicamentos (FDA) para la industria alimentaria. Puede verificar la validez del certificado solicitando en el sitio web de la FDA el nombre del fabricante o el número de certificado que se encuentra en el envase del producto
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl ¿Cómo puedo saber cómo usar el producto?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Todos los complementos alimenticios están científicamente probados y deben someterse a ensayos clínicos y de laboratorio.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl ¿Cuáles son las contraindicaciones de los suplementos y cosmecéuticos?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon La eficacia de estos productos se comprueba en estudios científicos sobre las propiedades de los ingredientes y en ensayos clínicos sobre el producto final.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl ¿Qué materias primas se utilizan en la creación de estos productos?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Para los productos nutricionales y cosméticos, solo se utilizan ingredientes y extractos naturales de origen vegetal o animal.
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl ¿Cómo se verifica la eficacia de los suplementos y los cosméticos?
					i.fico.fico-arrow
				p.question__text.js-info-accordeon Los productos oficiales están verificados por estudios de ingredientes y ensayos clínicos.