header.header.js-slider-header-wrap
	.header__slider.js-slider-header.swiper-wrapper
		.header-slide.header-slide--1.swiper-slide
			.container
				.header-slide__wrap
					.header-slide__left
						h1.header-slide__title Ingredientes naturales para la longevidad
						p.header-slide__desc elaborados solo con ingredientes naturales para mantener su cuerpo sano y bello
						a.header-slide__btn.button.button--red(href="catalog.html") LEER MÁS
		.header-slide.header-slide--2.swiper-slide
			.container
				.header-slide__wrap
					.header-slide__left
						h1.header-slide__title PODER DE LA NATURALEZA PARA SU BELLEZA
						p.header-slide__desc Cuidado seguro de la piel madura para rejuvenecer y prevenir la aparición de nuevas arrugas
						a.header-slide__btn.button.button--red(href="catalog.html") LEER MÁS
	.header__scrollbar.scrollbar.js-slider-header-scrollbar