header.header.js-slider-header-wrap
	.header__slider.js-slider-header.swiper-wrapper
		.header-slide.header-slide--1.swiper-slide
			.container
				.header-slide__wrap
					.header-slide__left
						h1.header-slide__title Природные компоненты для долголетия
						p.header-slide__desc созданные только из натуральных компонентов для поддержания здоровья и красоты вашего организма
						a.header-slide__btn.button.button--red(href="#") ПОДРОБНЕЕ
		.header-slide.header-slide--2.swiper-slide
			.container
				.header-slide__wrap
					.header-slide__left
						h1.header-slide__title СИЛА ПРИРОДЫ ДЛЯ ВАШЕЙ КРАСОТЫ
						p.header-slide__desc Безопасный уход за зрелой кожой за омоложения и предотвращения появления новых морщин
						a.header-slide__btn.button.button--red(href="#") ПОДРОБНЕЕ
	.header__scrollbar.scrollbar.js-slider-header-scrollbar