include ../mixins/review
include ../data/reviews


-
	let array = reviewsArray.sort(() => Math.random() - 0.5);
	let arrayLength = Math.floor(array.length/2);
	array = array.slice(0, arrayLength);
	const perChunk = 2;

	const result = array.reduce((resultArray, item, index) => { 
	const chunkIndex = Math.floor(index/perChunk)
	if(!resultArray[chunkIndex]) {
		resultArray[chunkIndex] = []
	}
	resultArray[chunkIndex].push(item)
	return resultArray
	}, []);




each reviews in result
	.reviews-list.swiper-slide
		each review in reviews
			+review(review)