.success-diary
	.container
		.success-diary__wrapper
			img.success-diary__photo(src="img/diary.jpg", alt="")
			.success-diary__info
				h2.success-diary__title ¡CUIDAR DE SU SALUD ES NUESTRA MÁXIMA PRIORIDAD!
				.success-diary__desc
					p.success-diary__text ¡Adjuntamos a su pedido un regalo, Diario de Salud, para ayudarle a seguir los cambios en su cuerpo y a sentirse bien!
					p.success-diary__text ¡Siempre con usted, equipo de Vitaliss!