.success-header
	.container
		.success-header__wrapper
			img.success-header__photo.js-success-product-photo(src="", alt="")
			.success-header__info
				h2.success-header__title ¡GRACIAS POR SU PEDIDO!
				.success-header__desc
					p.success-header__text ¡Gracias por elegir nuestra empresa!
						br
						| Nos pondremos en contacto con usted en el (+56) 229 141 108 en unos minutos para confirmar los detalles de su pedido.
					p.success-header__text
						span.js-success-product-name 
						|  ha devuelto la salud a miles de personas.
						br
						| ¡Usted está en el buen camino!
		.success-header__list
			.success-item
				.success-item__wrap-photo
					img.success-item__ico(src="img/svg/success_1.svg", alt="")
				p.success-item__text Tiempo medio de espera de la llamada
					span.color 5 minutos
			.success-item
				.success-item__wrap-photo
					img.success-item__ico(src="img/svg/success_2.svg", alt="")
				p.success-item__text Disponibilidad en&nbsp;stock
					span.color En stock
			.success-item
				.success-item__wrap-photo
					img.success-item__ico(src="img/svg/success_3.svg", alt="")
				p.success-item__text Resto 
					br
					| en stock
					span.color
						span.js-product-residue 60
						span  pzs.